[2015-11-27 11:12] gcaferra opened #2 "How to set a 24 hours format value"

[2015-11-27 11:17] gcaferra commented on #2
this happen when you are not using AM/PM

[2015-11-27 12:36] indrimuska commented on #2
Hi @gcaferra,
I'm not sure to understand your issue, could you please provide a [Plunker](http://plnkr.co/edit/LzlOVb?p=preview) showing your problem or a valid option-set using the [Angular Moment Picker Builder](http://indrimuska.github.io/angular-moment-picker/#builder)?

[2015-11-27 14:07] gcaferra commented on #2
has you can see when I select 18 he switch to 6 in the seleciton but not in the header then  you can only select 6:xx but the intention was 18:xx

![datepicker bug](https://cloud.githubusercontent.com/assets/8588065/11442742/2d7e0704-9518-11e5-9bce-9ccd0a1f8b52.gif)

[2015-11-27 15:05] indrimuska commented on #2
Ok @gcaferra, now I understand what is your problem.

Probably, you're setting a `format` option to any a 12 hours time token `"h"` or `"hh"`.

As you can see from the [moment.js guide](http://momentjs.com/docs/#/displaying/) `"HH"` format token is used to display 24 hour time, different from `"hh"` (used in combination with `"a"` or `"A"`) to display 12 hour time formats with meridiem label.

Try

[2015-11-29 00:41] #2 closed

[2015-12-03 14:56] crissi opened #3 "The will popup will go under other elements"
![image](https://cloud.githubusercontent.com/assets/3076578/11563807/32fdb6da-99d6-11e5-8e0c-5723f67290a5.png)

Maybe an option to set the position from the document/window instead?

[2015-12-03 15:34] indrimuska commented on #3
Hi @crissi,
Angular Moment Picker now uses a *css workaround* to append the picker just below the selected element/input, and I know this may causes errors like the one you report.
By now, you could resolve this by creating a custom stylesheet that overrides the default stylesheet.

This is because Angular's jqLite ([docs](https://docs.angularjs.org/api/ng/function/angular.element)) does not provi

[2015-12-04 14:51] gcaferra commented on #2
Sorry for  the late answer,
 thank you for your help it worked but still a little graphic problem. Watch here:

![calendarbug](https://cloud.githubusercontent.com/assets/8588065/11592371/5ca7b4ae-9a9e-11e5-8354-b96ebddfdff5.gif)

the final result is correct but the user get confused from the 24HH-12HH in the Sub Hour selection

[2015-12-04 15:40] indrimuska commented on #2
Yes, this is because the minute labels in `hour` view are defined by the property `minutesFormat` in the [provider](https://github.com/indrimuska/angular-moment-picker#momentpickerprovider) and its default value is your moment locale format without the meridiem part (am/pm):
[code]

So you could opt one of these options:

1. change your moment locale language globally: `moment.locale('fr')`
2. cha

[2015-12-08 15:03] ljfolino opened #4 "Format causing issues with returned data"
I am using angular-xeditable with angular-moment-picker. I have the moment picker working on the xeditable text fields.  The issue I am having is when I select a time the minutes are being lost.  This onlt seems to happen when using a format with the picker.  What is odd is the fact that this does not happen all the time or on all the controls I have the picker bound to.  Currently I have the pick

[2015-12-08 15:20] indrimuska commented on #4
Hello @ljfolino,
I have never used angular-xeditable before, could you please provide a Plunker to see the behavior you're describing?

[2015-12-10 12:42] DefunctExodus opened #5 "Range"
This is a great picker, Just a suggestion but it would be nice if there was an option to select a range without having to use a secondary picker.

I know it is easier said then done, Just something I think would be really nice in this.

[2015-12-10 14:26] indrimuska commented on #5
Thank you @DefunctExodus for the nice words!
I completely agree with you, it would be great if Angular Moment Picker will include a date/time span selector, but I don't have too much spare time to built it by myself.
Anyway I would be happy to accept a PR. :)

[2015-12-11 16:40] ljfolino commented on #4
So this behavior seemed to stop.  I think it was  a scope issue or non closed element.  Thanks for the quick response.

[2015-12-11 16:40] #4 closed

[2015-12-11 16:41] indrimuska commented on #4
You're welcome!

[2016-01-01 23:10] drew-moore opened #6 "Module name is incorrect in readme"
`var myApp = angular.module('myApp', ['moment-picker']);` results in a NOMOD error and failure to run.

It only takes a quick glance at the source to notice that the module name is `momentPicker` and not `moment-picker` - and indeed `var myApp = angular.module('myApp', ['momentPicker'])` works fine - but to have the name of your module wrong at the top of your readme is an inexcusable oversight IM

[2016-01-06 21:01] indrimuska commented on #6
Hello @drew-moore,
Thank you for writing and sorry for the late response.

You say that if writing `moment-picker` will cause an error during run, isn't it?
Maybe there is an angular naming convention system that I don't know yet, but as you can see in this [plunker](http://plnkr.co/edit/LzlOVb?p=preview) I don't have any errors if I add `"moment-picker"` as a dependency in my module.

Could you p

[2016-01-12 23:17] cdhowie opened #7 "Add support for seconds"
It would be helpful if the picker could be used in contexts where it's necessary to select down to second precision.

[2016-01-13 09:59] indrimuska commented on #7
Hi @cdhowie,
A new *Minute View* could be very useful for those who need seconds.
I also thought about creating a *Decade View* in order to show more years together.

Any PR will always be welcome! :)

[2016-01-14 02:29] cdhowie commented on #7
I was indeed thinking of working on a PR. I'm new-ish to Angular so don't feel 100% comfortable working on it solo just yet but maybe in the near future.

[2016-01-14 10:08] martinmaillard commented on #6
I had the same issue and it was because I installed the wrong package from bower. "angular-moment-picker" is used by someone else : you have to install "indrimuska-angular-moment-picker".
I guess it would be nice to mention it in the docs.

[2016-01-14 19:20] indrimuska commented on #6
Oouh! Sorry guys, I will update readme file as soon as possibile with all information to get Angular Moment Picker.

[2016-01-14 20:46] indrimuska commented on #6
I just released version [0.1.4](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.1.4) with the instructions on how to get the module.
Let me know if this issue occurs yet.

Note that Angular Moment Picker is available on bower with these names:
* `moment-picker`
* `indrimuska-angular-moment-picker`

[2016-01-15 09:40] martinmaillard commented on #6
Thank you ! I just upgraded and everything went fine

[2016-01-15 10:36] indrimuska commented on #6
Happy to see you've solved!

[2016-01-15 10:36] #6 closed

[2016-01-15 14:15] indrimuska commented on #7
Don't worry, I will look into this asap! :)

[2016-01-18 13:06] indrimuska commented on #7
I just release [v0.2.0](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.2.0) with this feature!

[2016-01-18 13:06] #7 closed

[2016-01-18 22:19] cdhowie commented on #7
Thanks very much!

[2016-01-27 08:02] ip512 opened #8 "Infdig error when using batarang on Chrome"
I have the following error when using moment-picker and batarang on chrome:
`Uncaught Error: [$rootScope:infdig] 10 $digest() iterations reached. Aborting!`
I disable batarang to fix the issue, so it's no more a blocking issue. I just sent this post to avoid others spending hours to figure out where these errors are coming from.

[2016-01-27 15:46] indrimuska commented on #8
Thank you @ip512 for reporting this, I will investigate on what causes this issue.

[2016-01-28 20:38] eversoclever commented on #8
I have a similar error in Chrome, but I'm not sure if I'm using Batarang or not (sorry, new at this):

Error: [$rootScope:infdig] 10 $digest() iterations reached. Aborting!
Watchers fired in the last 5 iterations: [[{"msg":"fn: function () {\n        var start = perf.now();\n        var ret = thatScope.$eval(watchExpression);\n        var end = perf.now();\n        _digestEvents.push({\n

[2016-01-29 08:07] ip512 commented on #8
when batarang is active, you have an angular icon in your address bar

[2016-01-29 14:55] bduebel commented on #8
Found the extension. Disabled it. Everything is back to normal.

[2016-01-29 15:38] sashawilcox opened #9 "Month View for February/March not displayed properly"
When displaying February 2016 month view, the dates are not displayed properly.

Similar issue occurs with subsequent February/March months. May be due to February having  a different number of days each year..?

![angular_moment_picker_1](https://cloud.githubusercontent.com/assets/12714285/12679847/c8410f3a-c67c-11e5-9989-6095d069f026.png)
![angular_moment_picker_2](https://cloud.githubuserconten

[2016-01-29 16:39] checklist commented on #3
Hi,
What should be in the custom stylesheet to override this?

Thanks!

[2016-01-29 16:55] checklist opened #10 "Error: [$compile:ctreq] Controller 'ngModel', required by directive 'format', can't be found!"
Hi,

I am getting the following exception:

Error: [$compile:ctreq] Controller 'ngModel', required by directive 'format', can't be found!

when using:

[code]

If I remove the format="LT" the exception goes away. Any ideas?

[2016-01-31 00:38] indrimuska commented on #10
Hi @checklist, it seems that your code needs for a not-provided "format" directive, but I can't help you with just this little piece of code. Could you please provide a full working plunker that shows this issue?
Thanks.

[2016-01-31 00:46] indrimuska commented on #9
Hi @sashawilcox, thank you for reporting this.
Unfortunately I am unable to see this issue, as you can see in the [demo page](http://indrimuska.github.io/angular-moment-picker/) February looks correct.
So, could you share your full configuration or provide a working example? Thanks

[2016-01-31 01:00] indrimuska commented on #3
Hi @checklist, it depends on your application, the first thing you could do is to check the zIndex of your elements and give to the `.moment-picker-container` the highest one ([currently](https://github.com/indrimuska/angular-moment-picker/blob/master/src/angular-moment-picker.css#L4) its value is 5).

[2016-01-31 07:43] checklist commented on #3
Thanks. I tried that but with no success already before. I ended by remving the "before" .

Great lib. Thanks!

[2016-01-31 07:46] checklist commented on #10
My app is a "little too big" to share ;-)

Isn't the "format directive" part of the angular-moment directive? I see it in the documentation. Otherwise, is there another way to set the format returned by the pickers?

[2016-01-31 14:06] indrimuska commented on #10
No, Angular Moment Picker has just one directive with the same name (there is no directives with that name, `format` is just a property of the main directive).

But, as you think, you have two ways to change the format of your pickers:
 * using the standard format attribute:
[code]
 * using the picker provider (this will apply the format for all the pickers):
[code]

Let me know if this could help

[2016-02-01 14:23] sroutledge commented on #9
Hi @indrimuska, I'm a dev on the same project. We're using version 0.1.3 of angular-moment-picker, and version 0.2.2 of angular-momentjs. I'm able to reproduce this with the default configuration and as basic a template as:

<input moment-picker="ctrl.date"/>

(ctrl.date starts null)

[2016-02-01 21:26] indrimuska commented on #9
Thank you @sroutledge for confirming this bug, but I really can't reproduce that behavior.
This is the [plunker](http://plnkr.co/edit/pl29UIeSdLTqWFmOWLb8?p=preview) I tested, but I can't see anything strange or incorrect in it.
Could you please help me to understand where the problem is, just updating that plunker?
Thanks

[2016-02-02 12:51] sroutledge commented on #9
@indrimuska

I was able to narrow it down to the version of angular we're using:

http://plnkr.co/edit/TwpUvqD1dQOfU3wIopQ2

Seems that it happens with angular versions 1.3.x (1.3.20 in our case)

Angular version 1.4.0 works as expected. We will look at upgrading our version of angular.

Thank you for your time!!

[2016-02-02 12:56] sroutledge commented on #9
Adding: since the 1.4.0 update introduced some breaking changes for Angular, we may not be able to upgrade right away. If you can implement a fix for 1.3.x versions of Angular, that would be awesome, too!

[2016-02-02 18:47] checklist commented on #10
Hi,

I managed to get rid of the format exception (was due to some code by another developer). The second option is not really an option as I need to use multiple formats.

I am trying to get it to work as follows: I have two date widgets: one allowing date selection and the second the time selection:

[code]
This is based on http://fuse-angular-material.withinpixels.com/scrumboard/boards/32gfhaf2

[2016-02-02 23:58] indrimuska commented on #10
Yes, of course, shoot me an [email](mailto:indrimuska@gmail.com) or add me on [gitter](https://gitter.im/indrimuska) so we can talk privately.
I will close this issue since it looks like a problem of your app, not in Angular Moment Picker.

[2016-02-02 23:58] #10 closed

[2016-02-03 00:24] indrimuska commented on #9
Good to know @sroutledge, give me some days to see the difference between these two versions.

@sashawilcox can you confirm that your issue is caused by the version of Angular?

[2016-02-03 01:02] indrimuska commented on #9
Ok, I think the problem is this ([doc](https://code.angularjs.org/1.3.19/docs/api/ng/directive/ngRepeat#iterating-over-object-properties)):

Since Angular Moment picker uses an object of weeks where the keys is the number of the week in the year, and since weeks of February 2016 start from 6th to 11th, I think that Angular sorts the object using this order: 10, 11, 6, 7, 8, 9. That is because it u

[2016-02-03 13:20] sashawilcox commented on #9
Thanks @indrimuska! I can confirm that's it's caused by the Angular version :smile:

[2016-02-03 14:24] checklist commented on #10
Hi,

So I am not sure it is a problem with my app. Here is a plunk I made for it: http://plnkr.co/edit/AawSxwhjatiAzhNlW3m5?p=preview . You can see that when using two moments with the same model I get the problem.

Any ideas?

[2016-02-12 09:48] AKFourSeven opened #11 "Troubles with locales"
I am having difficulties with locales at the moment.
I am using angularjs 1.4.4. and I just thought of using your directive for solve conversion issues.
I have install through Bower momentJS and included in my javascript moment-with-locales.
My issue is that whenever I try to set my locale to France (by using 'fr') the date coming from the model that is printed always shift back to a default forma

[2016-02-12 11:19] indrimuska commented on #11
Hello @AKFourSeven.
I can't find any trouble using moment picker provider, as you can see at this [plunker](http://plnkr.co/edit/gXZjIE1Y7zZo0LAxuYVg?p=preview), it may helps you to understand the problem.

I was looking at your code and I noticed something strange I can't figure out:
 1. Your input model is `vm.contract.signature_date`, so I could think that you have a controller with alias `vm`.

[2016-02-12 11:48] #9 closed

[2016-02-12 11:50] indrimuska commented on #9
FYI this is now available in [0.2.1](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.2.1).
Thank you all for reporting this! :)

[2016-02-12 14:42] AKFourSeven commented on #11
1. It would make the assumption that vm.contract is already set, which is not always the case.

2. That is precisely the issue, and I apologies for not making it clearer, we send a particular format to the webservices so that it can be correctly read by the backend tier, then when we read the value it is converted back to proper angularjs format date, but it does not print correctly.

3. No that w

[2016-02-12 14:48] indrimuska commented on #11
Glad to hear you figure out your problem!
I'm going to close this issue.

[2016-02-12 14:48] #11 closed

[2016-02-13 16:49] checklist opened #12 "Css issue"
Hi,

I am trying to build my project and it fails on the css of this library (csso gulp). It specifically points to these lines:

[code]

When I run the code through a css validator (https://jigsaw.w3.org/css-validator/validator) I get the following errors:

Any idea?

[2016-02-14 07:09] checklist commented on #12
After a lot of research, it seems like the build process of the plugin is somewhere faulty and the generated css is not valid but also different than the original. Minification?

[2016-02-14 10:47] indrimuska commented on #12
Ok @checklist, I know what this is caused. This is due to the keyboard combination ALT+SPACE on mac that generates a non-breaking space character (0xA0) instead of a normal space (0x20).
Give me five to replace all these characters.

[2016-02-14 10:49] #12 closed

[2016-02-14 10:50] indrimuska commented on #12
Let me know if this causes troubles to you yet. :)

[2016-02-16 21:59] dorono opened #13 "Popup calendar has extra days in it"
Cancelling my question below, as I discovered that this issue was specific to my specific implementation and was able to solve the issue, so no bug to report here. :)

~~Hello there,~~

~~I am running into an issue whereby the calendar that pops up upon me clicking on the input field has the beginning of the following month inserted into the calendar along with the last day of the following month.

[2016-02-17 18:25] ccollie opened #14 "Add the capability to disable"
As in title.

[2016-02-17 18:27] ccollie opened #15 "Add an on-change event"
I'm implementing a date range control, and as it stands, i need to create a watch to
ensure the start date is less than the end date. Looking at the source, it would be straightforward to support an on-change event so the user does not have to resort to
additional watches.

[2016-02-17 22:41] indrimuska commented on #13
Hi @dorono, sorry for looking this so far. I'm happy to see you've solved your issue! :)

[2016-02-17 22:41] #13 closed

[2016-02-17 22:43] indrimuska commented on #14
Hi @ccollie, I think this could be a useful feature. Are you interested in creating a PR?

[2016-02-17 22:56] indrimuska commented on #15
You're right, this is a very easy-to-implement feature.
Thank you man for interesting in angular moment picker, I will work into this in the next days. :)

[2016-02-18 01:30] ccollie commented on #14
Give me a hint and I can probably find the time to look at it.

[2016-02-18 12:25] indrimuska commented on #14
Maybe the simplest way to do this is to avoid opening the picker dialog and prevent the update from the view value (this second check is not so easy to explain, if you're interested I could give you more infos about Moment Picker internal variables).

[2016-02-18 21:18] ccollie commented on #14
I'll take a look over the weekend.

2016-02-18 7:25 GMT-05:00 indrimuska <notifications@github.com>:

[2016-02-22 14:14] #15 closed

[2016-02-22 14:15] indrimuska commented on #15
FYI this feature is now available in the last release! :)

[2016-02-22 14:50] manufaktor opened #16 "Allow manual date input"
I would like to allow manually typing the date into the input.
Currently it completes the date after the first key stroke using the typed number as value for whatever is the first unit for the chosen date format. Example: my format is YYYY-MM-DD, I press "5" and it completes to "0005-01-01".

Is this something you'd consider adding/accepting in to the library?

[2016-02-22 15:01] indrimuska commented on #16
Hi @manufaktor, Angular Moment Picker could be anywhere you like, including text inputs.
Since it makes use of angular `$watch`es to track model changes, if you append the picker to a text input and you want to type a date manually, you should use [ng-model-options](https://docs.angularjs.org/api/ng/directive/ngModelOptions) like this:
[code]

[2016-02-22 15:08] manufaktor commented on #16
Thanks, perfect!

[2016-02-22 15:08] #16 closed

[2016-02-22 15:10] indrimuska commented on #16
Glad to see you've solved this issue!
Maybe I will add this behavior to the demo page too.. :)

[2016-02-22 17:01] ccollie commented on #15
Nice !! Thank you for the effort !

2016-02-22 9:15 GMT-05:00 indrimuska <notifications@github.com>:

[2016-02-25 16:28] #14 closed

[2016-02-25 16:30] indrimuska commented on #14
This is now out with [v0.4.0](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.4.0). :)

[2016-02-25 20:11] ccollie commented on #14
Many thanks !

[2016-03-07 17:05] michaelandrew opened #17 "Calendar doesn't render correctly if model value is change programmatically"
If the model value is changed programmatically at some point after the directive has first been loaded, the calendar will not render and thus the wrong month will be selected.

![image](https://cloud.githubusercontent.com/assets/1167544/13576661/aeddad78-e486-11e5-877c-56bb09d54f47.png)

This is caused by [angular-moment-picker.js#L446](https://github.com/indrimuska/angular-moment-picker/blob/mast

[2016-03-09 12:33] indrimuska commented on #17
Hi @michaelandrew, thank you for reporting this.
I verified the bug, give me five to resolve it. ;)

[2016-03-09 13:08] #17 closed

[2016-03-09 13:10] indrimuska commented on #17
This should be fixed in the latest release.
Waiting for your feedback!

[2016-03-14 15:27] michaelandrew commented on #17
Perfect! Thanks!

On Wed, Mar 9, 2016 at 1:10 PM indrimuska <notifications@github.com> wrote:

[2016-03-15 15:54] AKFourSeven commented on #3
Hi @checklist I tried removing the :before as you suggested to no avail, it might be that I was targeting the wrong one.
Do you remember which one was it ?
Or better yet @indrimuska has the problem been solve in a newer version ?

[2016-03-15 16:09] checklist commented on #3
Sorry but we could not solve the issue. This issue is repeating in many places and z-index changes we make do not affect the popup. Kinda gave up :-1:

[2016-03-15 20:12] indrimuska commented on #3
The best solution is to allow users to append the picker to the body, but it implies to retrieve the absolute position (x, y) of the text input. This is easy to do perform with jquery, but unfortunately jqLite doesn't have that support. So the only way to achieve this goal is to create a jquery-like `position()` function.

[2016-03-16 10:29] AKFourSeven opened #18 "moment-picker in form stays pristine"
Hi

I am working with moment-picker in forms and when I make a change to one of my input that has a moment-picker associated to it I noticed that though the date has changed  and is displayed in the input, the model does not seem updated in all the case and the form  (or the element with the moment-picker) stays pristine, maybe I am missing something.
Here is the code displayed:
![capture d ecran

[2016-03-16 10:32] indrimuska commented on #18
Hi @AKFourSeven, this seems to be related to #17.
Have you already tried the latest version of Angular Moment Picker?

[2016-03-16 12:38] AKFourSeven commented on #18
Nope I haven't, I will try updating and keep in touch with you.

[2016-03-16 13:52] AKFourSeven commented on #18
Hi after updating I can confirm that the issue is different, the problem still remains. It seems as though the calendar has been updated as well as the input , something prevent to trigger the watches on the form to set the element (and thus the form) to dirty.
I have been using this plugin for a while and never experienced that before (it might be because I never confronted the case).

[2016-03-16 14:41] indrimuska commented on #18
Ok, let's take this [plunker](http://plnkr.co/edit/BtwqfZeidMyKNPC4zvdk?p=preview).

Angular does not unset `$pristine` property when a model has been changed through javascript, it sets the value to `false` only when a user interacts with a given input.
That being said, I think that the best solution for you is to set the pristine state by yourself when model changes, using the native angular api

[2016-03-17 13:28] AKFourSeven commented on #18
I see the angle you are tackling this from. But I cannot get the form object  from within the link function.
I'll try to find a way to do that and post it here once I have found it, thanks for the tips though!

[2016-03-17 13:48] indrimuska commented on #18
If you have a directive with a link function maybe you need to check your scopes.
This is a very simple [plunker](http://plnkr.co/edit/F2OVSAjpB5uBGvzhETaP?p=preview) that makes use of a directive with no private scope.

[2016-03-17 13:50] indrimuska commented on #18
I'm going to close this issue since it seems there's not due to Angular Moment Picker.
Feel free to reopen it if you find any problem.

[2016-03-17 13:50] #18 closed

[2016-03-18 15:27] julianibarraprofite opened #19 "CDN error"
500 Internal Server Error

http://rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.min.js
http://rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.min.css

[2016-03-18 15:58] indrimuska commented on #19
Hi @julianibarraprofite,
CDN is maintained by GitHub, there's nothing I can do to help you with.
Alternatively, you could try these links:

http://cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.min.js
http://cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.min.css

[2016-03-18 15:58] #19 closed

[2016-03-23 10:13] superdecimal commented on #8
+1 I stumbled upon this error yesterday.

[2016-03-31 22:27] ajkain opened #20 "timezone missing"
A very very useful widget but maybe a timezone setting is missing.

A little approximate suggestion:
[code]

[2016-04-03 23:53] indrimuska commented on #20
Hi @ajkain, can you please provide a working example/plunker showing this feature?

[2016-04-04 09:02] ajkain commented on #20
Hi, it is difficult to write an example code about a time zone.
For example, you live in Germany but you need to use the time of the USA.
Your country adopts the DST (Daylight Saving Time) but you want to ignore it and use the local solar time or the time in UTC/GMT.

[2016-04-16 06:08] askie opened #21 "angular.min.js:107 TypeError: Cannot read property 'longDateFormat' of null"
`<input locale="window.localStorage.lang" ng-model="stockIn.pre_in_time" moment-picker="stockIn.pre_in_time" type="text" class="input-xlarge" required>`

error when picked datetime :

`angular.min.js:107 TypeError: Cannot read property 'longDateFormat' of null
    at c (http://192.168.0.121:4040/web/erp/bower_components/moment/min/moment-with-locales.min.js:1:4579)
    at String.replace (native)

[2016-04-16 06:11] askie commented on #21
how to init datetime ?

[2016-04-16 09:11] indrimuska commented on #21
Hi @askie, you just need to initialize your model in your controller as a string:
[code]
otherwise you can use `ng-init` directive like this:
[code]

[2016-04-16 09:11] #21 closed

[2016-04-16 11:52] christianklock-iglu opened #22 "Support of Angular 1.5+"
Currently, you have a dependence on Angular "~1.4.3". From my point of view (and with my manual testing), the current version works perfectly fine with Angular versions above 1.5 as well.

For that reason, I propose to update your bower.json to a later version of Angular.

[2016-04-16 13:01] christianklock-iglu commented on #8
+1
I created a simple test app which worked with the extension enabled. At the same time, using the extension in our huge webapp, I keep receiving the error above. So, I believe we see some kind of cross-interaction of possible different libraries and the extension.

[2016-04-20 12:46] circy opened #23 "funny jump in Mozilla firefox"
In Mozilla Firefox, if you click in the Date Picker dialog jumps to a different spot. This happens only in Mozilla Firefox. Most significant of these is clear effect noticeable when the datpiker depends to a input field. This is adjustable with the demo website.

http://indrimuska.github.io/angular-moment-picker/

my code:
[code]

[2016-04-21 18:33] cauealves commented on #23
Hello @circy, this is the problem?

![captura de tela 2016-04-21 as 15 31 22](https://cloud.githubusercontent.com/assets/7065285/14720114/2e7ef7b8-07d6-11e6-8a34-6de2e9a7996f.png)

[2016-04-21 21:07] indrimuska commented on #23
Ok, now I am able to see the problem on FF.
I'm working for a fix..

[2016-04-21 21:15] indrimuska commented on #22
Hi @christianklock-iglu.
Well, Angular Moment Picker works with Angular starting from v1.3, but I don't know which syntax is used to specify that in bower? `>=1.3`? `^1.3`? Also, I don't if this syntax means for bower to look for the most recent version of the dependency.
What do you think you about?

[2016-04-21 21:24] cauealves commented on #23
👍

[2016-04-21 22:06] circy commented on #23
@cauealves Yes. ;)
@indrimuska Thanks, you made my Day! :) :+1:

[2016-04-23 09:32] indrimuska commented on #23
Well, the solution is really simple, but it may affect existing pickers:
[code]
Anyway, I think it's the best solution, so I'm going to pack a fix soon.

[2016-04-23 09:42] indrimuska commented on #23
[v0.4.2](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.4.2) is now out with this fix!
Let me know if the problem still persists. :)

[2016-04-25 08:29] circy commented on #23
First of all thank you, but I still have a problem that now fix is related to yours.
When using Twitter Bootstrap and a label and including making a text box will, you can not.
So the label is no longer on the text box but beside.
This is due to your fix in css.

`.moment-picker { display: inline-block; }`

my code:

[code]

But thanks again I fix it in my code.

[2016-04-25 10:24] indrimuska commented on #23
Oh sorry, I'm going to look for another workaround.

[2016-04-25 10:45] circy commented on #23
You saved my day. Thank you!

[2016-04-25 10:56] indrimuska commented on #23
Well, I think I got a solution!
Check out this plunker: http://plnkr.co/edit/YHqEhrdCCysDS2eZk9GM?p=preview

[2016-04-25 11:15] circy commented on #23
okay, very very nice work!

[2016-04-25 11:16] indrimuska commented on #23
Perfect, give me five to release a new version.

[2016-04-25 11:18] #23 closed

[2016-04-25 11:18] indrimuska commented on #23
Thank you guys for reporting this! :)

[2016-04-25 11:19] circy commented on #23
I have to thank! :)

[2016-04-27 09:31] bruninho opened #24 "Add ability to select from range of years"
Hi,

Currently the datepicker view filtering only goes up to "Year view" where you can select the months. Adding the ability to go an additional step back and select from an range of years is essential when selecting for example a date of birth.
![datepickeryearview](https://cloud.githubusercontent.com/assets/8948393/14847932/2540fcdc-0c63-11e6-91fe-145674b5f21e.JPG)

Thanks, Bruno.

[2016-04-27 22:47] indrimuska commented on #24
Hi @bruninho, this will be a very useful feature. Are you interested in making a PR?

[2016-04-29 20:10] christianklock-iglu commented on #22
Hi @indrimuska,

In that case, "^1.3" should be the expression you were looking for.

(There are quite some references on this online, eg. http://fredkschott.com/post/2014/02/npm-no-longer-defaults-to-tildes/).

All the best,
Christian

[2016-05-02 09:55] MrBuggy opened #26 "Style current day"
Hi indrimuska

First at all I would thank you for this great date-picker, it's awesome!

I have a problem with the styling of the picker: Everything works fine with the style, I have only the question, is there a class or somethin else, which can style the current day. For example: Today is the 02.05.16, but i select the 05.05.2016. So I would style the selected and the current day in the same tim

[2016-05-02 13:28] indrimuska commented on #24
This is now available in v0.5. Check it out! :)

[2016-05-02 13:28] #24 closed

[2016-05-02 13:32] indrimuska commented on #26
Hi @MrBuggy, thank you for the kind words!
I was thinking about adding a new feature to let users have a ready-to-use property to enable/disable highlighting of the current date. What do you think about? Are you interested to create a PR?

[2016-05-02 13:35] indrimuska commented on #22
Thank you man, I will update it soon! 👍

[2016-05-04 12:24] #22 closed

[2016-05-12 02:33] hnguyenec opened #27 "How to validate the date value manually entered against the format"

[2016-05-12 21:52] Gargamil opened #28 "Problem with browserify?"
Hi,

after installing your module with bower (and moment.js) i've tried to require it with browserify.
Everything seems to work perfect, but when i try to require it in my angular app (v.1.5.5) `angular.module('backEndApp', ['moment-picker']);` an `Failed to instantiate module backEndApp due to:
Error: [$injector:modulerr] ` error pops up..

Sorry. Problem at my configuration. Solved it. Everythin

[2016-05-13 08:38] #28 closed

[2016-05-13 08:49] indrimuska commented on #28
Hi @Gargamil, have you already solved your issue?

[2016-05-13 08:52] indrimuska commented on #27
Hi @hnguyenec.
Data values are formatted with the attribute `format` and they are always checked by the internal controller, so what do you mean for "validate the date" ?

[2016-05-13 16:14] Gargamil commented on #28
Yes, it was a damn caching Problem...
Couple of hours to solve..

[2016-05-26 09:19] mehr30na opened #30 "Using Jalali Date in picker"
Thanks for your good and useful work, I have one issue which is using Jalali date in your picker. And also there is [Jalali Moment ](https://github.com/jalaali/moment-jalaali) which is Jalali version of moment.js.

Please kindly help me come up with this issue.

[2016-05-26 12:36] shubhamkes35 opened #31 "Decade view is not working"
Very smooth and smart picker. One issue that i noticed is decade view is not working for me. And its not even working on builder example.
http://indrimuska.github.io/angular-moment-picker/

I cant see year selector in the picker.

[2016-05-26 15:02] dschnelzer commented on #31
If you are using bower, you need to use

"dependencies": {
    "angular-moment-picker": "indrimuska/angular-moment-picker"

Are you doing that?  If you just use

"dependencies": {
    "angular-messages": "1.5.3",
    "angular-moment-picker": "angular-moment-picker"

you are pointing to an older version at https://github.com/alanjhonnes/angular-moment-picker

[2016-05-26 16:29] indrimuska commented on #31
@shubhankes35 the default view when you open the picker is the *Year view*. You can change it by setting the attribute `start-view` to `decade`.

[2016-05-27 06:20] shubhamkes35 commented on #31
I did try that , but it does not seem to work . Changed min-view and start-view to "decade". But It did not help . Even on your working example it does not work . Please help me .

[2016-05-31 16:19] indrimuska commented on #30
I'm sorry @mehr30na, at the moment Angular Moment Picker does not support any other framework different from Moment.js. To support Jalali Moment it requires to be extended to support its tokens (ie `jYYYY`, `jM`, `jD`, ...) and its methods (ie `jYear`, `jMonth `, `jDate`, ...).

If you are interested in implementing this feature, I will be happy to review your PR.

[2016-05-31 16:19] #30 closed

[2016-05-31 16:29] indrimuska commented on #31
I've just created this [plunker](http://plnkr.co/edit/rbLXTFvJCOBwItXT4U7u?p=preview) and everything seems work as expected.
Could you please provide a working example showing this issue?

[2016-06-02 16:08] mkoczorowski opened #32 "Bower version incorrect"
for some reason version in bower shows 0.5.1 and it downloads totally different codebase

[2016-06-03 04:24] shubhamkes35 commented on #31
I fetched using bower, which gave me v 0.4.2
Problem is solved in 0.5 . Thank you

[2016-06-03 06:20] indrimuska commented on #31
Glad to hear you've solved! :)

[2016-06-03 06:20] #31 closed

[2016-06-03 06:21] indrimuska commented on #32
Hi @mkoczorowski, as you can see in the README, for bower you need to pay attention at the project name:
[code]

[2016-06-03 07:47] markokristian commented on #20
Wait. "+0100" is not a timezone but an offset? This will not detect DST:s properly. Will try this out.

[2016-06-03 08:52] indrimuska commented on #20
I haven't tried it out, yet. If you need to detect your timezone you can use JavaScript Date's `getTimezoneOffset()` method.

[2016-06-06 05:45] taufnrsyd opened #33 "Moment object and calendar start day"
Is there anyway that I could grab the date as a Moment object instead of the formatted string? Also, it might be useful to have an option to set the first day of the calendar since it's different here (we start our weeks on Monday).

[2016-06-06 09:13] indrimuska commented on #33
Hi @taufnrsyd, Angular Moment Picker just returns strings, not object. There's no way at the moment to get the moment object from the directive, but you can have your own Angular Filter to achieve that.

Regarding the first day of the week, it depends on the `locale` you've set for the picker (i.e `en-gb` starts the week from Monday; instead `en-us` starts from Sunday). Check out the demo page at

[2016-06-06 09:13] #33 closed

[2016-06-06 09:14] indrimuska commented on #32
I'm going to close this issue, feel free to open again if you have any trouble :)

[2016-06-06 09:14] #32 closed

[2016-06-06 09:22] indrimuska commented on #27
I'm going to close this issue, feel free to open again if you have any trouble :)

[2016-06-06 09:22] #27 closed

[2016-06-09 00:18] adampbragg opened #34 "bower install not found"
$ bower install moment-picker
bower                        ENOTFOUND Package moment-picker not found

I would love to be able to install this via bower. What am I missing?

[2016-06-09 00:23] indrimuska commented on #34
Well, I've just  tried that command and its works perfectly on my pc.
I can't help you, maybe you're a using some kind of repository list cache?
The simplest thing you can do is to reinstall bower. Hope this helps!

[2016-06-09 08:54] #26 closed

[2016-06-09 08:56] indrimuska commented on #26
FYI latest release [v0.5.2](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.5.2) has a new boolean `today` property to highlight the current date.

[2016-06-09 09:35] MrBuggy commented on #26
Very cool thanks! :D

Von meinem iPhone gesendet

[2016-06-09 15:57] Simobain opened #35 "Getting today date as the min-date"
Hi,

I'm trying to take today's date as the min-date. However I cannot manage to make it works...
Here is my html :
[code]
and the vm.today attribute
`this.today = this.$moment().format("ddd Do MMM YYYY");`

Thanks a lot for your help !

[2016-06-09 16:03] Simobain commented on #35
RAS it's working...

[2016-06-09 16:03] #35 closed

[2016-06-09 17:35] adampbragg commented on #34
Yea, I just found out we have a private bower registry proxy. Added it and I am good. Thanks for entertaining my question.

[2016-06-09 17:35] #34 closed

[2016-06-09 18:04] indrimuska commented on #34
Glad to hear you've solved! :)

[2016-06-10 13:37] Simobain opened #36 "Add possibility to navigate with keyboard and validate with "enter""

[2016-06-13 08:22] GeorgeKnap opened #37 "Changing locale dynamically"
I would like to request putting the **locale** property under watch to allow changing the language dynamically.

Currently I set the local property to my controller's view model's property like this:
`data-locale="{{ctrl.data.momentPickerLanguage}}"`

When I change my app language I set the new value to this view model's property e.g. 'en' but the input field text does not refresh the language.

T

[2016-06-13 09:03] GeorgeKnap opened #38 "minDate, maxDate binding"
Trying to set the min date and max date dynamically by angular expression but doesn't work. Only hardcoded values works.

this is the code:
[code]
and in the controller's constructor:
[code]
inspecting the rendered component looks like this:
[code]

which looks fine but the picker allows me to select any date freely.

Hardcoding this values to html makes it work but that's just not an option.

Tha

[2016-06-13 11:05] indrimuska commented on #37
Hi @GeorgeKnap, listening to the dynamic change of the locale is not so easy as you can see from the online builder. That's because any `min` (or `max`) value set for the picker is a string and it must be converted from the previous locale to the new one.

Anyway it can be an interesting feature so let's go for it.

[2016-06-13 11:07] indrimuska commented on #36
Hi @Simobain, very interesting feature! I really don't know when it will be implemented, because I don't have too much spare time at the moment, but if you are interested in creating a pull request I'll be glad to review it for you. :)

[2016-06-13 11:09] GeorgeKnap commented on #37
Hi @indrimuska
Many thanks! I'm sure it will be a valuable feature to your component.

George

[2016-06-13 11:12] indrimuska commented on #38
Give me 5 to create a plunker to see if everything works fine, then I'll get back to you..

[2016-06-13 11:28] indrimuska commented on #38
Ok, I analyzed your scenario and I see that you use one-time binding, but `max-date` and `min-date` are dynamic properties that can be update with two way data binding. So the simplest solution you can have is to update `min-date="'{{::ctrl.data.minDate}}'"` to `min-date="ctrl.data.minDate"`.

Check out this plunker: http://plnkr.co/edit/rbLXTFvJCOBwItXT4U7u?p=preview

[2016-06-13 11:33] GeorgeKnap commented on #38
@indrimuska  Works great! Thank you for a quick solution.

[2016-06-13 11:34] indrimuska commented on #38
You're welcome! :)

[2016-06-13 11:34] #38 closed

[2016-06-19 10:39] #37 closed

[2016-06-19 10:40] indrimuska commented on #37
@GeorgeKnap v0.5.4 has this new feature, enjoy! :)

[2016-06-21 12:42] marco10024 opened #39 "Value not refreshed in the controller"
Bonjour :

`<div moment-picker="meeting" format="HH:mm A" change="$ctrl.onChange(newValue, oldValue)">The meeting starts at {{ meeting }}.</div>         `

[code]

console.log return the old value . Is this normal ?

[2016-06-22 10:09] indrimuska commented on #39
Mmmh @marco10024, you're right! That's not a correct behavior, that's why I'm going to change it. However, at the moment you can use the two parameters passed through your `$ctrl.onChange` method:
[code]

[2016-06-22 10:27] #39 closed

[2016-06-22 10:28] indrimuska commented on #39
Last release, v0.5.5, contains the update above.
Now when `change` is fired model value contains the new date.
Thank you @marco10024!

[2016-06-24 13:55] vivelys opened #40 "Hour format is lost when displaying the minutes popup"
First of all : Great Work ! It saved my time (many time)

I've localized the moment picker to French.
When I select the day in the picker, the hour popup is displaying with hours from 00:00 to 23:00 (it is normal)
but when I choose **15:00**, the next popup displays minutes from **3:00** to **3:59**.
It should be from **15:00** to **15:59**

Did I miss something ?

Regards

[2016-06-24 14:11] indrimuska commented on #40
Hi @vivelys, thank you very much for these kind words! :)
To solve your problem you can just set the `minutes-format ` property in the [momentPickerProvider](https://github.com/indrimuska/angular-moment-picker#momentpickerprovider): actually, it's set to the the locale format LT without meridiem part.

Well, it should be set to that value, but it's not. As I can see, French format for **4pm** shou

[2016-06-24 16:56] #40 closed

[2016-06-24 16:56] indrimuska commented on #40
Check out last release of the directive and enjoy! :)

[2016-06-24 19:07] vivelys commented on #40
Hello,

I Wonder if the line 408 (in the .js file) shouldn't be :
minutesFormat = moment.localeData($scope.locale).longDateFormat('LT').replace(/[aA]/, '') || momentPicker.minutesFormat;

[2016-06-24 20:19] indrimuska commented on #40
Well, if you change the line as you said, you will never get the provider's value, because the part on the left side of the OR-statement will always be "true".

[2016-06-26 09:22] vivelys commented on #40
ok, but when I hit the breakpoint I put on this line, momentPicker.minutesFormat has a value of 'h:mm' and this side of the OR statement is also TRUE

[2016-06-26 10:27] vivelys commented on #40
In fact I have :

[code]
and in my html code :
[code]
moment.locale() returns "fr" but it seems the value provided by the momentpickerprovider is used for this picker.

I think the definition of 'locale' in the div should overwrite the value set by the provider.

[2016-06-26 21:05] indrimuska commented on #40
Well, the problem is in your code, just right here:
[code]

With this configuration, you want to override the default `minutesFormat` value with the one you've passed through. Since you've not specified the locale, you'll always be an English format value.

That being said, you have two way to solve this:

1. Do not specify any `minutesFormat` in the provider.
2. Update the default `minutesFormat`

[2016-07-02 09:38] ZeldaIsThePrincess opened #41 "Using onChange : Model updated but not the calendar value"
Hi, thx for your awesome work, your moment picker is pretty useful.

However im facing a problem in this scenario :

I have two dates, the second one is based on the first one (let's say : date b always = date a + 2 hours)

So when i change the first date, the change event is triggered and the second date must be updated. In this case, my model has the correct value but not the calendar value. The

[2016-07-02 15:56] mike-diamond opened #42 "Moment picker in fancybox"
When I click on moment picker after load as inline fancybox, it outputs empty picker box.
But if I click on a picker in input directly - all works fine.
Ho to fix?

[2016-07-02 17:07] indrimuska commented on #42
Hi @mike-diamond, can you please provide a working example?

[2016-07-03 18:04] indrimuska commented on #41
Hi @ZeldaIsThePrincess, I think that you just need to `$apply` the new scope.
Take a look at [this plunker](http://plnkr.co/edit/BtwqfZeidMyKNPC4zvdk?p=preview), it can help you finding your issue. :)

[2016-07-03 23:39] ZeldaIsThePrincess commented on #41
Thx @indrimuska, this worked like a charm !

[2016-07-03 23:39] #41 closed

[2016-07-03 23:39] indrimuska commented on #41
Happy to hear you've solved your issue! 👍

[2016-07-08 11:00] heenaI opened #43 "How can I access the value of selected date from console?"
Hi,
Great directive first of all. Newbie question: how can I console.log the value of selected date in a very simple way?
plunker https://plnkr.co/edit/n8HlCN?p=preview

[2016-07-10 20:17] flyingboy007 commented on #8
+1 never thought that

[2016-07-11 14:44] flyingboy007 opened #44 "datepicker not responsive and going out of viewport"
I have 2 input field on the right side of the screen . So when I select the last input field which is to the end of the screen the datepicker is going out of bounds of the viewport.  How can I fix this?

Here is the [pluncker](https://plnkr.co/edit/3FFqly?p=preview)

[2016-07-12 18:32] indrimuska commented on #43
Hi @heenaI, try updating your example like this:

[code]
[code]

[2016-07-12 18:32] #43 closed

[2016-07-12 18:37] indrimuska commented on #44
Hi @flyingboy007, in your plunker I just see two inputs in the left side of screen.

![image](https://cloud.githubusercontent.com/assets/1561134/16778897/5c1cb05e-4870-11e6-88c7-7803667d82ba.png)

[2016-07-12 20:47] flyingboy007 commented on #44
that works when the inputs are aligned horizintally..but if you make the screen bigger the input will all be laid out horizontally and the input which is to the end of the screen will go out of the screens visible width
(actually the calender goes out of screen and not the input )

![screenshot from 2016-07-13 02-10-55](https://cloud.githubusercontent.com/assets/6024513/16783021/eba65520-489f-11e6

[2016-07-20 11:29] indrimuska commented on #44
Well, to avoid this there are many options:

- enlarge the input, at least at the width of the picker
- create a new property to align the picker to the right
- check whenever the screen size changes and align the picker correctly (using some css3 x-translation)

[2016-07-21 14:06] indrimuska commented on #44
Right and Top align can be done by this piece of css:

[code]

Now, these are the options we can follow:

- check if the position of the picker fits outside the window and, otherwise, apply one of the styles above
- create two properties to let people choose which class to apply to align the picker on the left or on top
- both of the above

[2016-07-27 13:07] indrimuska commented on #44
Hey @flyingboy007,
what about this plunker? https://plnkr.co/edit/BNtWXh?p=preview 😄

Let me know if everything works, so that I can push changes into a new release ;)

[2016-07-27 13:54] flyingboy007 commented on #44
Thank you for the update.. This should work now. I will try it and let you know this weekend. Due to this issue I changed my project to use` angular-ui-bootrap datepicker` which is responsive(even though it wont accept moment date object). I will try to find the commit I done that time and let you know by this weekend. Except  the responsive issue this is a great plugin. Thank you.

[2016-07-28 12:00] indrimuska commented on #44
Thank you man. This update is born to make this directive responsive, responding to screen changes every time the picker is opened.

[2016-08-02 11:39] sfakir opened #46 "How to get a Date Object?"
The datepicker always transforms the model into a String according to format. The format should be only the way to visualize the model but NOT the stored format.

`<div moment-picker="currentUser.dateOfBirth" format="L" start-view="decade" max-view="day" class="form-control"></div>`

dateOfBirth = should by type Date oder moment(). How do I get the date object without parsing it again back with mo

[2016-08-02 11:49] sfakir commented on #46
Workaround like this:
`
$scope.updateDateOfBirth = function(newValue, oldValue){
          var m = moment(newValue, "L");
          $scope.currentUser.dateOfBirth = m.toDate();
          $scope.$apply();
        };
`

[2016-08-02 12:40] Dancia opened #47 "Disable future dates."
How do I disable future dates in datepicker? maxDate: in config doesn't work.
Also max-date="'{{todayDate}}'" doesnt work too. It does populate todays date, but bounds are not set.

[2016-08-04 09:11] indrimuska commented on #46
Hi @sfakir, since the model is always a String, that is the only solution to get a moment object according to the format you have chosen. You can also specify your locale as third parameter of the moment constructor like this:
[code]

[2016-08-04 09:11] #46 closed

[2016-08-04 09:24] indrimuska commented on #47
Hi @Dancia, minimum and maximum dates must have the same `format` of the model.

[code]

You can also check out this [plunker](http://plnkr.co/edit/rbLXTFvJCOBwItXT4U7u?p=preview) to better realize how it works.
Hope this helps! :)

[2016-08-04 09:24] #47 closed

[2016-08-04 09:44] indrimuska commented on #42
I'm going to close this issue, feel free to open again if you still find any problems. :)

[2016-08-04 09:44] #42 closed

[2016-08-18 13:00] indrimuska commented on #44
I'm going to close this issue, since it could be solved by the latest release [v0.5.7](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.5.7).

[2016-08-18 13:01] #44 closed

[2016-08-19 10:10] flyingboy007 commented on #44
Sorry that I couldnt check on this as planned. Thanks for updating this plugin with this feature.

[2016-08-19 10:12] indrimuska commented on #44
Don't worry man ;)

[2016-08-22 09:45] aboalwi opened #48 "Add support for Hijri Calendar"
would be great

[2016-08-22 11:48] indrimuska commented on #48
Hi @aboalwi, to support Hijri Calendar there's needed that Moment.js support that kind of calendar, and it natively doesn't do. You can use Islamic Calendar methods using the plugin [moment-hijri](https://github.com/xsoh/moment-hijri), but as you can see, they have different names and formats:

- `moment.iYear()` instead of `moment.year()`
- `"iYYYY/iM/iD"` instead of `"YYYY/M/D"`

That being said

[2016-08-23 12:48] 32teeths opened #49 "Dynamic `hoursFormat` value"
Awesome Library !! I am creating a range picker taking start time and end time . But I need to configure the end time such that if the start time is in 30 minutes past any hour (like 1:30 , 2:30) , the end time calendar should show only hours past 30 minutes in day view . The hoursFormat property is to be configured in the `config` section . Can it be done on the fly ?

[2016-08-24 08:34] dreammeup opened #50 "Having another format for database"
Hello,

You have done a really good work on that AngularJS picker.

I think there is something missing, and that could be very usefull. Or maybe I just didn't find it.

The format of the date you are displaying for the user is generally not the same as the format you want to save in your database.

So I think it will be interesting to define another format for the saving, and a ng-model to populat

[2016-08-24 09:04] indrimuska commented on #50
Hi @dreammeup, thank you for the nice words!
I think this should be a part of the users app, but not integrated in the directive itself. That's because the format of the database depends of which one you use (e.g MySQL uses the format `YYYY-DD-MM HH:ii`, but MongoDB makes use of integer timestamps).

Anyway, that's absolutely not hard to implement, you just need a $watcher to make it real, like th

[2016-08-24 10:02] dreammeup commented on #50
Hello,

Thanks for the solution.

I didn't knew how to convert easily the date.

Bye.

[2016-08-24 10:02] #50 closed

[2016-08-24 10:13] indrimuska commented on #8
It seems the [latest release](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.6.0) is not affected by this issue.
I don't know why, but one the major updates consist on how the picker is closed (see [this](https://github.com/indrimuska/angular-moment-picker/blob/0.5.7/src/angular-moment-picker.js#L227-L229) and [this](https://github.com/indrimuska/angular-moment-picker/blob/0.5.

[2016-08-24 10:15] indrimuska commented on #36
FYI, this feature is now available in the latest release [0.6.0](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.6.0).

[2016-08-24 10:15] #36 closed

[2016-08-24 18:11] indrimuska commented on #49
Hi @32teeths, I don't think I've totally understand your problem.
You want to create a range picker. If the start time is -for example- 2:30 then you want to show in the day view of the end time hours in the format `"HH[:30]"`, isn't it?

Well, in the day view you only choose an hour, not a combination of hour+minute. Also, `hoursFormat` can be edited only globally using *momentPickerProvider*.

A

[2016-08-24 19:17] 32teeths commented on #49
@indrimuska Thank you for the response and had a look at the plunkr. This would help . But I wanted the day view to show the minutes in the format of start time . Else , It would be like , the user selects a time , suppose 4:00 but will see 4:30 after selection which would make them feel that there is something wrong with the Datepicker .

[2016-08-24 19:23] indrimuska commented on #49
Sorry, but as I said *dayView* is not born to let user select minutes, just hours in the selected day. Anyway, if you need help to fork the project and create your own version of the picker that allows to select a dynamic `hoursFormat` value, I'll be happy to help you!

[2016-08-24 19:24] #49 closed

[2016-08-24 19:31] 32teeths commented on #49
@indrimuska I will surely give it a try .

[2016-08-25 00:15] Kluskey opened #51 "Clicks not working"
Just noticed this in the most recent commit. I can't always open the picker, and when I do, the click doesn't actually change the scope variable.

[2016-08-25 00:28] indrimuska commented on #51
Hi @Kluskey, thank you for reporting this.
In the latest version I've changed the way to open/close the picker for performance gain and to be able to navigate the picker using the keyboard. Anyway, I don't understand what you mean with "it doesn't change the scope".

Can you please further argue your issue and provide an example showing that?

[2016-08-26 08:53] nathalietran commented on #51
Hi @indrimuska,

Indeed there is a problem with the 'click'. You can open the picker, however when clicking (with a click) on a date the date variable doesn't update.

However it works when hitting "enter" with the keyboard.

Thanks

[2016-08-28 18:33] vedard commented on #51
Hi @indrimuska,

I have the exact same issue, I test it on Chrome and Firefox. Everything work fine with the keyboard, but with with the mouse the picker always close when you click something.

![issue](https://cloud.githubusercontent.com/assets/8711046/18035845/b67f2bb4-6d2b-11e6-8852-5ad5dca491fb.gif)

[2016-08-29 21:57] carlosrdv opened #52 "Dynamic min-date"
Hi. @indrimuska
Is there a dynamic way to set the min-date value as today?
and is this possible for the hour?

Regards

[2016-08-30 13:04] micflan commented on #51
This issue is also evident in the demo page examples http://indrimuska.github.io/angular-moment-picker/

[2016-08-30 17:27] fourgates commented on #51
I was having the same issue using 0.6.0. I reverted back to 0.5.7 and was no longer seeing this issue.

[2016-08-30 19:44] indrimuska commented on #52
Yes @carlosrdv, `min-date` is a two-way bindable property, so that you can change its value as you want. You only have to remember that it is a `String` in the same format of the value (i.e. "HH:mm").

[code]
[code]

Hope this helps! :)

[2016-08-30 19:44] #52 closed

[2016-08-30 19:52] indrimuska commented on #51
Sorry guys for this, can you please tell me your OS and browser, please? Thanks

[2016-08-30 19:55] fourgates commented on #51
I tested both Windows 7 and mac OSX using chrome.

[2016-08-30 20:01] indrimuska commented on #51
Ok thanks.
Also, can you please check out [this plunker](http://plnkr.co/edit/4sIvTXeZQfovg4wY1zGy?p=preview) and let me know if it works on your platforms?

[2016-08-30 20:11] fourgates commented on #51
It does not seem to be fixed in your plunker.

[2016-08-31 00:28] micflan commented on #51
@indrimuska – not fixed in the plunker for me.

I'm using Chrome 52 on Mac OSX 10.10.5. More browser/platform details here: http://whatsmybrowser.org/b/VYTB4YZ

Thanks for looking into this. Version 0.5.7 is working for me and is just the date-picker I'd been searching for. Hopefully this bug doesn't chew up too much of your time!

[2016-08-31 02:18] vedard opened #53 "Change event is sometime fired unnecessarily"
Hi @indrimuska,

The issue happens when I first load the page, fetch my data then fill the model. The change event is fired after every page load.

[code]

In this [code](https://github.com/indrimuska/angular-moment-picker/blob/master/src/angular-moment-picker.js#L624), you compare the newValue with the oldValue as string, but sometime this code compare `"2016-07-29 06:50:00-04:00"` and `"2016-07-

[2016-08-31 19:48] iosDev3 commented on #52
It helped a lot! thank you! @indrimuska

[2016-09-05 18:58] thiagoreri opened #55 "Date and Time"
How to date and time?

DD/MM/YYYY hh:ii:ss

What format?

[2016-09-05 19:02] indrimuska commented on #55
Hi @thiagoreri, please check out the Moment.js documentation about all token formats at http://momentjs.com/docs/#/displaying/format/. In your case, you just need to change the format to `DD/MM/YYYY hh:mm:ss`.

[2016-09-05 19:02] #55 closed

[2016-09-06 17:13] LuisEGR commented on #51
Same bug here!, Windows 7

Google Chrome	52.0.2743.116 (Build oficial) m (32 bits)

Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.116 Safari/537.36

JavaScript	V8 5.2.361.49

Also in the webpage( http://indrimuska.github.io/angular-moment-picker/ )
Any of the pickers works, they show the picker but when clicking anyone the scope doesn't change, same wi

[2016-09-08 09:27] jenspettersson68 opened #56 "Day after DTS cannot be picked and double dates displayed"
If having brazilian timezone (UTC-3) set on computer (win7) and using Firefox it is not possible to pick the day after DTS in October. Also the picker is displaying two 15 October  (2016).
It works OK in Chrome.
Tested in FF 45, Safari, IE11 timezone (UTC-03:00) Brasilia at http://indrimuska.github.io/angular-moment-picker/
Step by step to reproduce
1. Set timezone on computer to e.g. (UTC-03:00)

[2016-09-08 09:34] jenspettersson68 commented on #56
If choosing locale Swedish and October 2016 a whole week is missing

![image](https://cloud.githubusercontent.com/assets/22072695/18344594/50ea213a-758e-11e6-9703-374172f92047.png)

[2016-09-11 11:09] indrimuska commented on #53
Hi @vedard, sorry for the late response.
Well, because of how Angular works, every time in the first $digest cycle it fires all $watch callbacks. You can check out this behavior [in this simple plunker](http://plnkr.co/edit/Xif7Nj43sl1YpnqxbxSZ).

Anyway that's not a really big problem, you can just check if the `newValue` is defined and is different from the `oldValue`:

[code]

[2016-09-12 19:48] indrimuska commented on #51
Sorry guys, I have to rely on you for this issue, since I am not able to reproduce on any device I have.

As you maybe already know, the problem belongs to [this piece of code](https://github.com/indrimuska/angular-moment-picker/blob/master/src/angular-moment-picker.js#L676-L681): "focus" event on the input (text input or `<div>`) causes the picker to show (opening), while "blur" event hides the p

[2016-09-12 19:50] indrimuska commented on #56
Wow, this is so weird! Thank you @jenspettersson68 for reporting this, I will investigate to know why this is happening.

[2016-09-12 20:10] indrimuska commented on #56
Super weird. I don't see the error anymore in the demo page right now.
If it's confirmed, it could depends on the timezone or the current pc clock time.

![image](https://cloud.githubusercontent.com/assets/1561134/18450962/67e8b554-7935-11e6-8275-a0b82175958c.png)

[2016-09-12 20:29] jenspettersson68 commented on #56
It depends on the pc clock. If you choose Brazilian timezone on the pc you can reproduce it, like the first step above. I guess it's due to Brazil change  the DTS exactly 00.00 which triggers the behaviour. Most other timezones change time in the middle of the night around 02.00.

[2016-09-12 21:57] indrimuska commented on #56
Yes, confirmed. As you said, it's due to the DST change. That's not a bug of the directive or Moment.js itself, but it seems to be caused by V8 engine ([ref.](https://github.com/moment/moment/issues/1231)).

Anyway I got a workaround: in month view I will parse days at midday, so that any DST change won't affect to any day adding. I'm going to patch next release.

[2016-09-12 21:59] #56 closed

[2016-09-12 22:00] indrimuska commented on #56
This is now available in [v0.6.2](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.6.2). Thank you for your support! 👍

[2016-09-12 22:44] LuisEGR commented on #51
I've tested your plunker and it works!

[2016-09-13 08:21] jenspettersson68 commented on #51
I can also reproduce the problem (if I click slowly). But as said, the plunker seems to work :)

[2016-09-13 08:30] jenspettersson68 opened #57 "Two days are selected in picker around DST in Brazil"
Set your computer (PC win7) to Brazil (UTC-3)
1. Go to the demo page
http://indrimuska.github.io/angular-moment-picker/
2. Select October 17 2016 in datepicker
3. Open datepicker again
Problem:
Both 16 and 17 October are selected

![image](https://cloud.githubusercontent.com/assets/22072695/18466684/0cabb7de-7973-11e6-919a-7fb783da5e9e.png)

[2016-09-13 08:35] jenspettersson68 opened #58 "Cannot select DST day in Brazil with Firefox"
Set your computer timnezone to Brazil (UTC-3)
1. Go to demopage with Firefox
http://indrimuska.github.io/angular-moment-picker/#builder
2. Try to select 2016 October 16.
Problem:
The date copied to the input field are 15 october.
Reproducable in Firefox and IE11
(Works OK in Chrome)

[2016-09-13 17:20] indrimuska commented on #58
Duplicate #57

[2016-09-13 17:20] #58 closed

[2016-09-14 20:32] carlosrdv opened #59 "Disable a day of the week"
is it posible to disable all sundays (for example) for future dates?

[2016-09-14 21:34] indrimuska commented on #57
Hi @jenspettersson68,
I think I've found a solution, but maybe I am missing something I don't know about Brazilian DST. Can you please check [this plunker](https://plnkr.co/edit/gqxyNu2loUS88djywSg9?p=preview) out and let me know if you still have any trouble with it?
Thanks!

[2016-09-14 22:10] indrimuska commented on #51
Fine, if it works for all of you, then I'm going to pack the fix for the next release.
Thanks guys!

[2016-09-14 22:27] indrimuska commented on #59
Hi @carlosrdv,
Well, actually Angular Moment Picker doesn't let you choose which days of the week will be disabled, but this would be a very interesting enhancement feature.
This will surely be one of the next features. :)

[2016-09-16 13:24] AgDude commented on #18
I haven't actually replicated this, but I am sure it is due to the fact that moment-picker does not use ngModel. ngModelCtrl methods handle setting pristine/dirty state.

[2016-09-16 14:04] AgDude opened #60 "Don't mutate underlying model"
The moment-picker directive actually changes the value on the scope into a string, and creates a new moment object as the `valueMoment` on the isolated scope. This means that while it provides a  nice UI, it can't actually be used for data binding, since it destroys the underlying model.

As a data input directive ngModel should be used for interacting with the user provided data.

[2016-09-19 16:06] AgDude opened #61 "new element is created each time the moment picker is opened."
Every time the moment picker view is opened a new element is added to the DOM. When the picker is closed, that element needs to be destroyed. (or there needs to be a mechanism to re-use the existing element).

This would be a major memory leak issue in a SPA.

[2016-09-19 16:14] AgDude commented on #61
This is invalid. The element is already reused.

[2016-09-19 16:14] #61 closed

[2016-09-20 11:47] kroltan commented on #60
It would be great to follow `ng-model` semantics indeed! This also means that `ng-change` and friends will work automatically, in addition to data-binding correctly.

[2016-09-20 12:32] AgDude commented on #3
The current solution of including the view inline can cause issues with some layouts as well as the problems described here. I suggest taking the `$uibPosition` factory from https://github.com/angular-ui/bootstrap/blob/master/src/position/position.js (with proper attribution).  The [`$uibPosition.positionElements`](https://angular-ui.github.io/bootstrap/#/position) method does everything we need h

[2016-09-20 13:30] AgDude commented on #60
This plunker references a fork of moment-picker that uses ngModel: http://plnkr.co/edit/0lTLqoh5JSlj26Nsnpf4?p=info

Note that there are some other changes in that fork, including a dependency on ui-bootstrap.

[2016-09-20 22:47] indrimuska commented on #3
Thank you @AgDude for you suggestion. Some commits ago, I added the [`getOffset()`](https://github.com/indrimuska/angular-moment-picker/blob/master/src/angular-moment-picker.js#L46-L59) method ("borrowed" from [jQuery's offset api](https://github.com/jquery/jquery/blob/305f193aa57014dc7d8fa0739a3fefd47166cd44/src/offset.js#L78-L119)). I haven't try it out yet, but I will do when I'll have some spa

[2016-09-20 22:52] indrimuska commented on #59
Thanks @carlosrdv for your tip! ;)

[2016-09-20 23:19] indrimuska commented on #60
Hi all. Actually this is not an issue, just a choice of design.
Anyway, I'm going to update *Angular Moment Picker* to support strings or Moment objects.
To preserve backward compatibility, when `format` property will be leave blank (at the moment this is a required property) it means that the model will be a Moment Object instead of a formatted String.

[2016-09-20 23:33] indrimuska commented on #51
FYI, this is fixed on latest release [v0.6.3](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.6.3).

[2016-09-20 23:38] indrimuska commented on #57
Sorry, but I am not able to fix it at the moment, since it depends on how MomentJS works.

As I can see, actually there's no way to fix this:
[code]

[2016-09-21 15:29] chqy24 commented on #51
That plunker does work, but v0.6.3 seems not work for me.

[2016-09-21 19:54] lfreneda commented on #51
still not working.. is not working also on http://indrimuska.github.io/angular-moment-picker/

:cry:

[2016-09-21 20:28] indrimuska commented on #51
Just verified the issue stil persist. I'm working on this. Sorry guys.

[2016-09-21 20:32] indrimuska commented on #51
It is caused by a wrong position of the `$scope.focusInput` method.
Give me 5 minutes to prep a new release.

[2016-09-21 20:33] lfreneda commented on #51
@indrimuska thank you so much :grinning:

[2016-09-21 20:44] indrimuska commented on #51
I've released release [v0.6.4](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.6.4).
Please, let me know if the issue still persists.

[2016-09-22 11:36] chqy24 commented on #51
Works for me now, thanks.

[2016-09-22 11:36] LuisEGR commented on #51
Working for me too, thanks!

[2016-09-22 17:09] azzra commented on #59
Hi this pr #62 could be working. Let me know if you want some changes as the code could be optimized.

[2016-09-22 17:49] indrimuska commented on #51
I think this issue is fixed now and should be close. Thanks to all of you. :)

[2016-09-22 17:49] #51 closed

[2016-09-22 17:51] indrimuska commented on #59
Ok @azzra, I'm going to review your PR and get back to you! :)

[2016-09-22 23:28] pdemilly opened #63 "ng-model and date-options"
Would it be possible to add a new directive that takes ng-model as date value and date-options as moment-picker options.

<input type="text" ng-model="mydate" moment-picker-options="myMomentPickerOptions">

this would permit consistent integration with ng-model based forms.

[2016-09-25 23:05] indrimuska commented on #59
This feature is now available starting from the release [v0.6.5](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.6.5).
Thanks to @azzra for sharing his idea!

[2016-09-25 23:05] #59 closed

[2016-09-26 17:34] indrimuska commented on #63
Hi @pdemilly, thanks for your proposal.

If your goal is to use *Moment Objects* instead of *Strings* for your model, there is an opened issue for that (#60). I am also already working on it in my `return-moment-object` branch.

However, I wonder if you could please provide an example of a *ng-model based forms* in which Angular Moment Picker directive is not working properly (I mean, using a *str

[2016-09-26 19:28] pdemilly commented on #63
I created a quick component (angular 1.5) of what I was thinking
`
MYAPP.component ('myMomentPicker', {
	require: {
		ngModelCtrl: '^ngModel',
	},
	bindings: {
		dateOptions: '=',
	},
	template: require('./date.html'),
	controller: /* @ngInject */ function ($scope, $timeout) {
		var $ctrl = this;

		$ctrl.$onInit = function () {
			$ctrl.ngModelCtrl.$render = function model2View () {
				$ctrl.myd

[2016-09-27 20:46] indrimuska commented on #63
Oh I didn't knew Angular's components yet, I need to learn more about them.
Anyway, I don't understand the advantages of such kind of structure.

From the "encapsulation" point of view, using this:
[code]
is not so different than using  this:
[code]

The first one just use a "special directive" to have an icon after the input text. But everyone can create his directive to wrap a special combinatio

[2016-09-28 17:48] pdemilly commented on #63
In forms management it is important to be consistent. In angular v1, a form
(ng-form) follows a standard where each element of the form is modified by
its own ng-model. This permits to have things like form validation,
data-binding and state control working at the form level. Components like
yours need to be compatible if they want to participate .

In my particular case, I use angular-formly to g

[2016-09-28 20:23] lfreneda opened #65 "[Question] setting ~container~ direction"
Would be great if we have a option to set the container direction, just like material tooltips [right, left, top, bottom]. In my case I would like to open the picker container always above my input or button. Any tips or suggestion?

Thank you very much, btw, really nice work of yours :dancer:

[2016-09-28 21:34] lfreneda commented on #65
solved updating plugin..

[2016-09-28 21:34] #65 closed

[2016-09-28 21:49] lfreneda opened #66 "Not open again after select a value"
After selecting a value, the picker container is not opening **until** clicking outside and then click on picker element again.

Check it out my gif:

![webm](https://cloud.githubusercontent.com/assets/372420/18933593/f5d722b0-85ab-11e6-9c0e-3f31279721c5.gif)

The same issue is happening on http://indrimuska.github.io/angular-moment-picker/ examples..

[2016-09-29 01:23] Kluskey commented on #66
+1

[2016-09-29 03:44] hweee commented on #66
+1

[2016-09-29 12:13] nednil commented on #66
+ 1

[2016-09-29 15:20] LuisEGR commented on #66
That doesn't happen to me

[2016-09-29 16:00] lfreneda commented on #66
@LuisEGR r u using lasted version? :grimacing:

[2016-09-29 16:26] LuisEGR commented on #66
well, now it happens, I tested in the examples page

[2016-09-29 16:28] lfreneda commented on #66
@LuisEGR :dancers:

[2016-09-29 21:36] indrimuska commented on #66
Hi guys, this is because the picker opens every time the input (or div) is focused. When you select a date from it, the focus still persist so you can open the picker again only after blur the container.
I'm looking for a solution, ideas are always welcome! :)

[2016-09-30 01:26] lfreneda commented on #66
@indrimuska got it..

What if after selecting a date, set focus for the next form input (just like a tab), bad idea?

[2016-09-30 02:03] LuisEGR commented on #66
If some one is not using more inputs that could be a problem, maybe doing something like this resolve the problem:

[code]

[2016-09-30 02:41] lfreneda commented on #66
@LuisEGR your suggestion could be a workaround, but not a definitive a solution

[2016-09-30 07:52] oracion-ns commented on #66
**angular-datepicker** had a similar issue:
[https://github.com/g00fy-/angular-datepicker/issues/281](url)
They fixed it by showing the picker on both `focus` and `click` events.

Maybe do the same?
[https://github.com/indrimuska/angular-moment-picker/blob/master/dist/angular-moment-picker.js#L693](url)
[code]

[2016-10-05 16:55] headyrules opened #67 "Hour view displayed incorrectly on locale='de'?"
Hey there,

when i use locale='de', the hours go from 1-24 as it should be. Anyway, in the hour - view where i am supposed to pick something like 17:05 it says 5:05 instead on the buttons.Is this a bug or am i doing something wrong?

thanks for the help!

[2016-10-05 19:35] indrimuska commented on #66
Thank you @oracion-ns, I think the first option you posted is perfect for this issue!
I'm going to release a new version with this feature asap.

[2016-10-05 19:37] #66 closed

[2016-10-05 19:39] indrimuska commented on #66
[v0.6.6](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.6.6) is already out! Thank you all! :)

[2016-10-05 19:52] indrimuska commented on #67
Hi @headyrules,

Moment Picker directive renders minutes in the Hours View using the setting in the [momentPickerProvider](https://github.com/indrimuska/angular-moment-picker#momentpickerprovider). As you can see from the README, the default value of `minutes-format` is set to "*Locale format LT without meridiem part (AM/PM, am/pm)*".

Indeed, German locale value of `LT` is equal to `h:mm A`, so r

[2016-10-05 19:52] #67 closed

[2016-10-08 07:52] NanaPhil opened #68 "Angular 1.3.2"
Hello please does the library work with this version  Angularjs 1.3.2

[2016-10-13 20:42] indrimuska commented on #68
Hi @NanaPhil, could you please tell me the issues with this version of Angular? Do you have any feature that is not working to you?

[2016-10-13 20:49] rohdef commented on #60
"Have you used it in anger, yet?", it's a way to test a things durability and usability. When people use or try something new they all go "ooooh" and like it. The real test comes when it is used in anger, when you got a deadline over your head, your boss is shouting at you for being late etc.

We probably all know the situation and the frustrations. For that reason components and APIs should work

[2016-10-13 21:04] indrimuska commented on #60
Hi @rohdef, I understand your point view. However, the intended purpose of this direct was to work with Moment object in order to return strings. I understand that this may not follow *your expected behavior*, but this choice of design shouldn't be an issue if this is how the directive was born!  :)

Anyway, as I said, I'm going to support even this feature. Actually I am working during my spare t

[2016-10-14 11:39] NanaPhil commented on #68
Ok. I'm working on a project which i included this package . and the
controls seems to be disabled when i try to use it.

On Thu, Oct 13, 2016 at 8:42 PM, indrimuska <notifications@github.com>
wrote:

[2016-10-18 16:59] alecbenson commented on #68
Also having this issue.

[2016-10-18 17:22] indrimuska commented on #68
Thank you guys, could you please provide me a little plunker so I can work for a solution? :)
Thanks!

[2016-10-18 18:28] indrimuska commented on #60
For those who are interested in this issue, I've created a plunker that uses my `return-moment-object` branch to make the directive work with Moment Objects instead of Strings.

Any feedback is welcome! :)

http://plnkr.co/edit/7k4QM63u6xU8EdzhUPHU?p=preview

**Notes:**
- This will be a breaking change for the project and will generate a new major version
- The model will be set by the `ng-model`

[2016-10-18 18:38] indrimuska commented on #63
Hi @pdemilly, I'm going to release a new major version of the directive that makes use of the `ngModel` directive. Since this issue will be solved by this new feature, I invite you to participate to the conversation in the issue #60 (I think you should look at https://github.com/indrimuska/angular-moment-picker/issues/60#issuecomment-254596657 ).

For that reason, I'm going to close this issue, bu

[2016-10-18 18:38] #63 closed

[2016-10-18 18:46] indrimuska commented on #53
Hi @vedard, your problem will be solved (by design) in the next major release of the directive.
It will have a big breaking change (it will work with Moment Object instead of formatted moment strings) and if you are interested in it, you can have a look at https://github.com/indrimuska/angular-moment-picker/issues/60#issuecomment-254596657.

Anyway, I'm going to close this issue. Feel free to open

[2016-10-18 18:46] #53 closed

[2016-10-20 10:48] NanaPhil commented on #68
https://plnkr.co/edit/PozXQeW0eHdVxxIfgpeT?p=preview

[2016-10-20 14:00] conradwarhol commented on #68
Also having this issue with angularjs v1.3.15

[2016-10-20 15:10] indrimuska commented on #68
Well, got it! The problem is due to how Angular sets scopes variables, in particular them used with fn binding. Indeed even if you haven't set the Moment Picker property `selectable`, you'll get that property set in the controller.

The fix is very simple, I'm going to pack a solution and a new release as soon as I can. :)
Thank you all for reporting this.

[2016-10-20 18:32] indrimuska commented on #68
I've just released [v0.6.7](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.6.7) that contains this fix for Angular 1.3.
Thank you guys, good work! :)

[2016-10-20 19:29] deifos commented on #8
I have just download the library with bower and  I get the same error, however if I use the code from the ngmodel_support branch, it works fine with batarang on.

[2016-10-27 15:34] Ishy-Fishy opened #71 "Allow monday as first weekday"
The picker is great but in some cases (different locales) I need to start the week from Monday.

As of now, I have to edit the source code (replace .startof('week') with 'isoweek'). It would be nice if there was an option for that.

[2016-10-27 18:49] indrimuska commented on #8
Damn, @deifos you're right, this issue still persist in the latest version of the directive.
However, can you please make a test with the new branch I'm working at (`return-moment-object`) in order to check if this issue can be closed with the next major release?

Plunker and more infos about the branch: [here](https://github.com/indrimuska/angular-moment-picker/issues/60#issuecomment-254596657).

[2016-10-27 18:56] indrimuska commented on #71
Hi @Ishy-Fishy, first day of the week depends on the [locale you set](http://indrimuska.github.io/angular-moment-picker/#locales).

Actually there's no way to change this behavior, but if there's real need I can implement an ad-hoc feature to let you choose which day should be shown as first in the Month View.

Does your scenario really need to overcome the default/manual locale setting?

[2016-10-28 08:19] Ishy-Fishy commented on #71
Isn't anything critical, but it would be nice to have. For some countries that aren't in the locale list

[2016-10-28 19:21] indrimuska commented on #71
Well, ok I can add this feature. Just to know, which country are you interested in? :)

[2016-10-30 10:37] Ishy-Fishy commented on #71
A few countries (like Bosnia & Herzegovina) that don't provide enough userbase to warrant a full webpage translation but should have the EU locale preset, en_IE doesn't work for some reason :(

[2016-11-01 17:09] Adoniasv commented on #3
+1 - I have the same problem w Angular Material Dialog

![captura de pantalla 2016-11-01 a las 2 06 18 p m](https://cloud.githubusercontent.com/assets/5178330/19898905/b8db8562-a03c-11e6-8e55-4d2b1d174cca.png)

[2016-11-03 08:36] george-i opened #72 "Close the picker programatically?"
Is it possible? And how it can be done?

[2016-11-06 23:26] jaros93 opened #74 "min date - show decade error"
When i set min-date as 2008-11-07T00:00:00Z than i in decade view see only page 2009-2020. Button prev doesnt show.  In year view a can set 2008 year.

Sorry for my eanglish.

[2016-11-07 09:54] sadashivm opened #75 "change event not fired when the input value is empty"
change event not fired when the input value is empty
<input type="text change="onchageEvent()" >
the above function is not working for if value is empty

[2016-11-08 10:23] ChrisB92 opened #76 "Stop min-date/max-date from auto adjusting value"
Hi there

I'm currently experiencing an issue (to me) where if you have `min-date` set to 10:30 and you enter 10:20 it will automatically change the value to 10:30. Is it possible to set a property to disable this and trigger a validation error instead? It isn't clear to the user that the input has changed automatically and I would rather it told the user that the input is invalid.

Thanks,
Chris

[2016-11-08 11:44] sadashivm opened #77 "Old value is not clearing"
in bellow screen 1 first i selected date.
=> SCREEN 1
![1](https://cloud.githubusercontent.com/assets/10355473/20097760/269a4158-a5d6-11e6-824b-d7067b4df32e.png)

then later i cleared the textbox again if i click then it is showing old value. why it is not clearing old value

=> SCREEN 2
![2](https://cloud.githubusercontent.com/assets/10355473/20097767/2bf18b20-a5d6-11e6-9ed6-577bd79e633b.png)

[2016-11-08 14:05] george-i opened #78 "Custom position for the popup"
Would be nice to have the option to position the popup (ex: left, top, right,bottom).
Or even better, to position itself to be visible when getting out of view.

[2016-11-08 14:10] Nico924 opened #79 "Hour view inconsistency"
In the hour view, would it possible to keep the full number of the hour part selected in the day view ?
Example : you select 13:00 in the day view, in the hour view you see 1:00, 1:05, ... I think it would be preferable (especially in not 'en' locale) to display 13:00, 13:05, ...

Thank you in advance !
![capture d ecran 2016-11-08 a 15 02 45](https://cloud.githubusercontent.com/assets/3044305/201

[2016-11-09 11:43] sadashivm opened #80 "from and to date value"
Hi,
it is one of the best lightweight angular date picker . i really liked it.

im using two date like Start and End date example as bellow.

**Start Date** : <input type="text" moment-picker="startDate" format="DD/MM/YYYY" ng-model="startDate" start-view="month" />

**End Date** : <input type="text" moment-picker="endDate" format="DD/MM/YYYY" ng-model="endDate" start-view="month" />

for example

[2016-11-09 12:53] vishnureddy opened #81 "Selected Date data type is coming with String format"
Hi,
I am using moment date-picker. Its working nice. But after selecting the date,  data type of selected date is coming with string for some reason. But if it comes with Date data type it will be amazing for me.

Thanks.

[2016-11-09 16:17] claus1982 opened #82 "how reset the picker?"
Is there a way to reset the picker programmatically?

[2016-11-09 21:46] indrimuska commented on #72
Hi @george-i, actually there is no APIs to do that, but you can trigger `blur` event to achieve that goal as a temporarily solution. I don't have too much time this period, but I will give an instrument to open/close the picker programmatically

[2016-11-09 21:47] indrimuska commented on #74
Hi @jaros93, I don't think I have totally understand your problem, but keep in mind that `min-date` value should have the same format of the model. So, if you set `format` to `"YYYY-MM-DD"`, you should set `min-date` to `"2008-11-07"`.

[2016-11-09 21:47] #74 closed

[2016-11-09 21:49] indrimuska commented on #75
Hi @sadashivm, I have created a plunker to verify this issue, but I haven't found anything wrong in it. You can take a look at https://plnkr.co/edit/qpo05FBWVUkSXLtEPH0W?p=preview.

[2016-11-09 21:50] indrimuska commented on #76
Hi @ChrisB92, this is not possible at the moment, but it will surely be a nice feature.
Do you want to propose a PR for this?

[2016-11-09 21:53] indrimuska commented on #77
Hi @sadashivm, thanks for reporting this.
I've just verified this issue and, as you said, the directive does not clear the previous value in the picker view. I'm going to fix this as soon as I can :)

[2016-11-09 21:55] indrimuska commented on #78
Hi @george-i, the directive already support dynamic position depending on the field position event during scroll. Maybe, you are facing a problem I am not able to reproduce, so can you please provide a valid example that shows this behavior?
Thanks

[2016-11-09 21:57] indrimuska commented on #79
Hi @Nico924, you can change this setting using the momentPickerProvider:
[code]

[2016-11-09 21:57] #79 closed

[2016-11-09 22:02] indrimuska commented on #80
Hi @sadashivm, you can simply do something like that (remember to use the same `format`):

[code]

[2016-11-09 22:02] #80 closed

[2016-11-09 22:05] indrimuska commented on #81
Hi @vishnureddy, unfortunately that's not possible at the moment, and I don't think it will never be. However, in the next big release I am planning to return entire Moment.js object so that you can handle date object in a more efficient way.

If you want to have a look and leave a feedback you should check at https://github.com/indrimuska/angular-moment-picker/issues/60#issuecomment-254596657.
Th

[2016-11-09 22:05] #81 closed

[2016-11-09 22:12] indrimuska commented on #82
Hi @claus1982, why can't you simply set your model to a null or blank value?

[2016-11-09 22:17] #75 closed

[2016-11-09 22:18] indrimuska commented on #75
I have closed this issue, feel free to reopen it if you still have any trouble!

[2016-11-10 09:19] Nico924 commented on #79
Oh indeed thank you ! I didn't go far enough in your documentation sorry ^^

Anyway I love your datepicker, good job !

[2016-11-10 13:30] yashvekaria commented on #78
HI @george-i , I was seeking for position flags, through which we can set out datepicker popup as per our will. Have a look this link and you get the rest of the idea.

[http://dbushell.github.io/Pikaday/examples/positions.html](http://dbushell.github.io/Pikaday/examples/positions.html)

[2016-11-10 20:55] claus1982 commented on #82
it doesn't work, if I try to do put it undefined programmatically, it
doesn't change

Il 09 Nov 2016 23:13, "indrimuska" <notifications@github.com> ha scritto:

[2016-11-11 12:19] jl-yang-arm commented on #82
yes, so how could it be reset to default/defined date?

[2016-11-12 08:14] er-sarjan commented on #82
@claus1982, I tried to set undefined and it change to previous selected value so set it to null

[2016-11-12 09:38] harshuopi opened #83 "Is there anyway to have dynamic min and max dates?"
Passing a scope variable to the attributes doesn't work.

[2016-11-14 09:29] george-i commented on #72
Can you show an example of blur trigger?

In the end, this is what I want to achieve:
- click on calendar icon: open the date picker (working)
- click again on calendar icon: close the date picker (NOT working)

[2016-11-14 12:59] jl-yang-arm commented on #82
E.g. year is selected to another value but date selection is not completed, so now could the picker be reset to previous year after the focus of the picker is lost?

[2016-11-14 19:13] jaroslawf commented on #74
@indrimuska not working :)

My generated code:
![img2](https://cloud.githubusercontent.com/assets/14885210/20278879/a65be4f8-aaa6-11e6-96fd-a58db915d1d6.PNG)

In this a can't switch to page with min year.
![img1](https://cloud.githubusercontent.com/assets/14885210/20278878/a65bdcb0-aaa6-11e6-9b91-368d78bafab9.PNG)

I can select min year in this only.
![img3](https://cloud.githubusercontent.com/ass

[2016-11-14 19:19] jaros93 commented on #74
@indrimuska not working :)

My generated code:
![img2](https://cloud.githubusercontent.com/assets/2663275/20279138/935f55c8-aaa7-11e6-81ed-f105e38fe441.PNG)

In this a can't switch to page with min year.
![img1](https://cloud.githubusercontent.com/assets/2663275/20279142/965d359c-aaa7-11e6-9254-5b3f1702257d.PNG)

I can select min year in this only.
![img3](https://cloud.githubusercontent.com/asset

[2016-11-14 19:22] indrimuska commented on #78
I'm going to close this issue, since Angular Moment Picker already support dynamic position of the picker based on the position of the input on the screen.

[2016-11-14 19:22] #78 closed

[2016-11-14 19:23] indrimuska commented on #83
Yes, check out at #52 .

[2016-11-14 19:23] #83 closed

[2016-11-14 19:25] indrimuska commented on #74
HI @jaros93, you should use the same format for min/max date used for your model. This means, you have to change your code to `min-date="'1998-11'"`.

Check out at #52 .

[2016-11-15 11:55] jaros93 commented on #74
@indrimuska not working too.

![img1](https://cloud.githubusercontent.com/assets/2663275/20304652/b47f50f2-ab31-11e6-9f1c-2441a6c79cec.PNG)

But working for this.
![img2](https://cloud.githubusercontent.com/assets/2663275/20304656/b66c9d66-ab31-11e6-8dc5-01d9b9f762f3.PNG)

According to the test does not working for yers in last row for example:
(...) 1997, 1998, 1999,
2007,2008, 2009,
2017, 2018,

[2016-11-16 09:52] george-i commented on #78
My problem was that the picker was in a Angular Material dialog and when opened, the picker was cut off by the modal. Eventually I've added a few CSS lines to fit my needs.

[2016-11-16 22:12] ChrisGarber-Medlever opened #84 "ng-required Passthrough"
Would it be possible to extend this to use angular validation? All that would be required is a passthrough of a "required" variable e.g. required = "expression" or ng-required = "exp", then a call to ng-required on the input field.

[2016-11-17 15:44] sergioRicardo1995 commented on #66
This bug already fail -v 0.7.0

I fix this like @oracion-ns  said
(on $scope.view.change)

if ($scope.autoclose) {
    $timeout($scope.view.close);
    $scope.input[0].blur();
}

[2016-11-17 22:38] indrimuska commented on #82
Please, verify if you still have this issue in the [latest release](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.7.1).

[2016-11-17 22:57] indrimuska commented on #72
Well, if you use jQuery you can simple call `$element.trigger('blur')`.
I don't know if this is implemented even in jqlite.

[2016-11-17 22:58] indrimuska commented on #77
Hi @sadashivm, can you please verify if you still have this issue in the [latest release](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.7.1).
Thanks.

[2016-11-17 23:07] indrimuska commented on #72
Ok, you can simply use `.blur()` method.

[code]

[code]

[2016-11-17 23:45] indrimuska commented on #84
Hi @ChrisGarber-Medlever, as for issue #76, this is part of picker validation topic, that actually is not implemented. I don't have much spare time in this period, so I don't know when this feature will be implemented.

Any help would be always welcome! :)

[2016-11-21 12:06] jaros93 commented on #74
@indrimuska Did you check it?

[2016-11-21 14:27] chandanv03 commented on #47
Hi @indrimuska ,

I have min date and max date fields,
my question is how do i disable future dates in min-date? keeping current date as the max date.
the same should be in max date as well

my code:
 <input class="form-control"
                               ng-model="minDate"
                               max-date="maxDate"
                               id="min-date"

[2016-11-21 19:37] tartillo commented on #60
Hi @indrimuska ,
First impression is quite okay, but when I test your plunker code, the locale formatting loads okay but is not used after updating the value with the picker.
Hope this helps.

HTML:
[code]

[2016-11-21 19:50] marchioreto opened #85 "Version 0.7.1 - input element error"
Hi,

Picker doesn't work for input element in version 0.7.1. With div element the picker works fine.

The demo page (http://indrimuska.github.io/angular-moment-picker/) also has  the error.

Thanks,
Marchioreto

[2016-11-23 09:29] dhiman252 opened #87 "How to hide the header for the time selection control"
I make use of the property 'showHeader' to false but it did'nt worked for me

[2016-11-23 09:30] dhiman252 commented on #87
refer to this: http://prntscr.com/daqc4y

[2016-11-23 10:36] HelloYu commented on #85
same issue here.

[2016-11-23 13:59] chandanv03 commented on #82
Hi @indrimuska  ,

i have initally set the minDate to $scope,minDate=moment(); //this will set to current date
now i select a different date from date picker , if i want to reset the selected date to current date
how can i achieve this ?? i don't want to set to null or undefined or ""
please help me about this .

[2016-11-24 05:40] dhiman252 opened #88 "Allow to accept the options as an element attribute"
Like there is moment-picker="myDate" can there be the moment-picker-options="{ locale:         'en',
				format:         'L LTS',
				minView:        'decade',
				maxView:        'minute',
				startView:      'year',
				autoclose:      true,}"

[2016-11-24 05:40] #87 closed

[2016-11-24 06:59] jl-yang-arm commented on #82
@indrimuska no, as @chandanv03 mentioned, it is unable to reset to current date for example, verified in latest release also.

[2016-11-24 07:35] indrimuska commented on #82
Wait, resetting a date to a null value and set it to the current date are two different things.
Ok, if you just need to set the model to the current date you simply have to set it in the format you have choosen by the `format` property:

[code]

[code]

[2016-11-24 21:26] tartillo commented on #60
And the following error when locale is explicitly set (to 'nl') in defaults or within directive:

[code]
Hope this helps.

[2016-11-25 07:52] chandanv03 commented on #82
Hi @indrimuska ,

Thanks a lot for you reply , but reset is not working .

see my below code:
  <input class="form-control"
                                   ng-model="minDate"
                                   data-max-date="minDate"
                                   id="min-date"
                                   format="YYYY/MM/DD hh:mm:ss"
                                   name="minDate"

[2016-11-26 22:10] indrimuska commented on #82
Well, I don't know your case, but it should work with the instruction I gave you.
Maybe [this plunker](https://plnkr.co/edit/rdLTdSetGbhVHt3xI5T3?p=preview) could help figure out why for you it's not working.

[2016-11-26 22:10] #82 closed

[2016-11-26 22:15] indrimuska commented on #85
Thank you guys for reporting this, that's due to the transclusion of `<input>` field (an input element cannot have drawable DOM node child). I'll find a way to fix this as soon as I can :)

[2016-11-27 11:08] indrimuska commented on #85
FYI, this should be fixed in [v0.7.2](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.7.2). Give it a try! :)

[2016-11-27 11:08] #85 closed

[2016-11-27 11:12] indrimuska commented on #77
I'm going to close this issue, since I am no more able to reproduce it in the latest version.
Feel free to reopen it for any other trouble :)

[2016-11-27 11:12] #77 closed

[2016-11-27 11:33] indrimuska commented on #60
Hi @tartillo, thank you for your feedbacks!
Let me answer to your question step-by-step:

1. `format` property is used for the input model view: updating that value, will update the format the date will be shown inside the field
2. I am unable to reproduce this issue, [this is the plunker](https://plnkr.co/edit/PD0HSDBAkshkPlOov2LO?p=preview) I've tested.

[2016-11-27 11:58] tartillo commented on #60
Hi @indrimuska, thanks!
Mistake is on my part (or moment.js). I didn't include the full `moment-with-locales.js` but only the `nl-be.js` locale. Apparently moment.js doesn't turn to that one when specifying simply 'nl' as locale.
The "issue" can be reproduced in your plunker by replacing your line:
[code]
with:
[code]
Anyways, thanks for looking into it. You can just ignore :)

[2016-11-27 12:39] indrimuska commented on #60
Glad to hear you've solved your problem! :)

[2016-11-27 13:15] indrimuska commented on #47
Hi @chandanv03, I can't see the example you've posted, can you please share it again? thanks

[2016-11-27 13:16] indrimuska commented on #74
@jaros93 I am unable to reproduce your issue, can you please share a working example to figure out where the problem is?

In the meantime, you could also check out this example: https://plnkr.co/edit/LjoPIpIHPr2ydHhiXcEx?p=preview

[2016-11-27 14:33] chandanv03 commented on #47
Hi Indrimuska,

please find the below link where have shared the example code

https://github.com/indrimuska/angular-moment-picker/issues/82

On Sun, Nov 27, 2016 at 6:45 PM, indrimuska <notifications@github.com>
wrote:

--
Regards
Chandan.Vijayendra
8971877882

[2016-11-27 15:29] indrimuska commented on #47
Ok, but in that link there's no working example I can run, just pieces of code :)

[2016-11-27 15:32] indrimuska commented on #47
Well, correct me if I'm wrong.
You want to have a field called `minDate` that has a restriction on maximum allowable date set to the value of `maxDate` property on your scope. You also want to "reset" the maximum date `maxDate` to the current date. In the same way `minDate` should be a restriction for a minimum allowable value for `maxDate`, also resettable to the current date. Isn't it?

[2016-11-27 15:39] indrimuska commented on #47
Could you check this plunker out?
https://plnkr.co/edit/RzIaRJUgMHbPefAdvbIx?p=preview

[2016-11-27 16:03] chandanv03 commented on #47
Indrimuska,

hmm..ok let me put as below:
1) By default minDate and maxDate should be set to current date
2) Restrictions on minDate user should not be able to select date more than
current date,
same for maxDate as well... hence i set both ngModel values to current date
using moment().
3) yes user should be able to reset  both the dates,and so set them to
current date,time
 so i wanted to initial

[2016-11-27 16:16] indrimuska commented on #47
I am not sure I've totally understood your problem, but it seems that you don't want a dynamic min/max date, but your restriction will be hardcoded to the current date and time. Right?

Check out [this plunker](https://plnkr.co/edit/RzIaRJUgMHbPefAdvbIx?p=preview) and update it with your change.

[2016-11-27 16:26] chandanv03 commented on #47
Yes current date and time for min/max date will be hardcoded at first,
 before user selection .
if user selects other date then maxDate should be selectable only
till current date not more than  current date.

On Sun, Nov 27, 2016 at 9:46 PM, indrimuska <notifications@github.com>
wrote:

--
Regards
Chandan.Vijayendra
8971877882

[2016-11-27 16:28] indrimuska commented on #47
So does that plunker satisfy your needs?

[2016-11-27 16:36] chandanv03 commented on #47
yep it does :)

On Sun, Nov 27, 2016 at 9:58 PM, indrimuska <notifications@github.com>
wrote:

--
Regards
Chandan.Vijayendra
8971877882

[2016-11-27 16:37] indrimuska commented on #47
Happy to hear that! :)

[2016-11-27 17:31] indrimuska commented on #88
Hi @dhiman252, this could be an interesting feature, but I think that should be more powerful for each user to create its own angular Component, in order to configure several set of datepickers as they want.

You can take inspiration on [this comment](https://github.com/indrimuska/angular-moment-picker/issues/63#issuecomment-249671990) or just use Moment Picker Provider if you have just configurat

[2016-11-27 17:31] #88 closed

[2016-11-27 22:41] mathieu-morchipont opened #89 "Allow to set first year in decade view"
Can i set first year in decade view when it's was in first ? Sorry for my english ;)

[2016-11-28 18:17] indrimuska commented on #89
Hi @mathieu-morchipont, do you want to choose which year is the first in decade view?

[2016-11-28 18:22] mathieu-morchipont commented on #89
Yes , if startYear is to set 1989, the decade view is 1989 -1999

[2016-11-28 20:05] tm-fari opened #90 "up & down arrow keys scroll window as well as navigating the datepicker"
preventing window scrolling while open would be great.

[2016-11-28 20:28] indrimuska commented on #90
Thanks @tm-fari for reporting this. This is not expected, and would be fixed in the next release.
Keep in touch! :)

[2016-11-29 00:02] indrimuska commented on #60
Move to #91.

[2016-11-29 00:02] #60 closed

[2016-11-29 00:03] indrimuska commented on #8
Closed by #91.

[2016-11-29 00:03] #8 closed

[2016-11-29 00:03] indrimuska commented on #90
Closed by #91.

[2016-11-29 00:03] #90 closed

[2016-11-29 00:38] indrimuska commented on #63
Closed by #91.

[2016-11-29 00:56] indrimuska commented on #89
Oh ok, I think you want to choose the first decade to be shown every time the picker will be opened.
Sorry, but actually there's no way to that. You can just set you picker to the a valid year in that period, but it's quite different, since a date has been set and you will lost that decade to be shown when the picker opens after each model reset (blank or null).

For your use case, I suggest a new

[2016-11-29 11:14] sadashivm commented on #77
you are awesome man, its working fine , it is one of the best angular datepicker.
keep it up

[2016-11-29 13:38] sadashivm opened #92 "dateformat issue"
Hi im using latest version (v.0.8). im facing some problem like,

[code]

in controller i have written
[code]

![error1](https://cloud.githubusercontent.com/assets/10355473/20711408/8fb028ca-b665-11e6-8044-82603f8f746a.png)

i have already written date format attribute in element then why it is not coming only like "Nov 16 2016"

and one more

[code]
if console x then im getting value like

![erro

[2016-11-29 19:19] indrimuska commented on #92
Hi @sadashivm,  you're facing an issue due to how the picker works in the latest release when using ng-model.

In this revision I've introduced a new way to handle full date objects (not available until v0.7) and formatted date strings: `ngModel` property is now used to get the full Moment.js object of the selected date, instead `momentPicker` has the formatted string date using the appropriate `f

[2016-11-29 19:32] tartillo opened #93 "Picker does not start at current ng-model value"
Hi @indrimuska ,

I've noticed that the moment-picker does not start at the value of ng-model, but instead at the current moment(), i.e. right now.

I have a use case of a fixed date where I only want to set the hour, but the date is changed as well (to today) because the moment-picker initiates on today. Check out this [plunker](https://plnkr.co/edit/jt33xOS8ysBgmMDTwMgE?p=preview) for an example

[2016-11-30 08:18] wickY26 commented on #72
@indrimuska On my current project designers used flex for css and this is somehow trigger open function and datepicker never close and stuck in this loop.

ng-options blur solution is working, ability to open close datepicker programatically would be awesome and be more stable...

[2016-11-30 10:54] wickY26 commented on #72
I could do pr for this manual open/close features...

[2016-11-30 12:20] KarishImrith opened #94 "Cannot get desired format + datetime value 2 hours behind"
Hi There,

`{{employee.StartingDate}}
                <div class="form-group">
                    <label class="col-sm-2 control-label">Starting Date:</label>
                    <div class="col-sm-10">
                        <div class="form-control" ng-model-options="{ updateOn: 'blur' }" moment-picker="employee.StartingDate" ng-model="employee.StartingDate">{{employee.StartingDate | date: 'dd

[2016-12-01 11:44] sadashivm commented on #92
thank for updating dear, its working fine

[2016-12-01 11:52] sadashivm opened #95 "predefined date is not assigning to element"
Hi,
in controller i defined date

[code]

in view page

`<input type="text" moment-picker  ng-model="dt.startDate" format="DD/MM/YYYY" start-view="month" ng-model-options="{ updateOn: 'blur' }" />`

the problem is when i  run the code date is not assigning to the element. i mean date is not displaying in textbox. i would like to request to you pls solve this problem as early as possible

[2016-12-02 15:16] edouard-lopez opened #96 "No tests!?"
~800 lines of code, 0 tests.

How do you prevent regression?

[2016-12-02 19:21] indrimuska commented on #77
Thank you @sadashivm! 👍

[2016-12-02 19:28] indrimuska commented on #93
Hi @tartillo, I saw your plunker and the problem seems to stand in the initialization of first visible view. Indeed, as you can see there's no time highlighted in the current year, you need to go to the next one to see the blue highlighted day/time.

I'm going to fix this as soon as I can. Thanks!

[2016-12-02 19:53] #93 closed

[2016-12-02 19:54] indrimuska commented on #93
Check out latest release v0.8.1, this should be fixed!

[2016-12-02 20:00] indrimuska commented on #92
Glad this helped you! :)

[2016-12-02 20:00] #92 closed

[2016-12-02 20:02] indrimuska commented on #95
Hi @sadashivm, you are not using the properties of the picker in the correct way.
You should check out at [this comment](https://github.com/indrimuska/angular-moment-picker/issues/92#issuecomment-263669991) and have a look at the README file.

Hope this helps!

[2016-12-02 20:04] indrimuska commented on #95
In your case, you have to update your template like this:

[code]

You don't need to use `dt.startDateMoment`, but it is required to properly initialize an input element.

[2016-12-02 20:09] indrimuska commented on #96
Hi @edouard-lopez, simply I do not. 😄
Actually I am working on this library on my free time and, even if I really would like to write them and integrate inside the project, I can't find the time to do that.

Anyway, if you are interested to develop some basic test and make a PR I would be glad to review your code and help you write some other tests.

[2016-12-02 20:29] indrimuska commented on #94
Hi @KarishImrith, there are several ways to achieve that goal (my advice is to read the README, you were using `ngModel` with a String value). If you want to keep using Angular's date filter you can do that:

[code]

[2016-12-02 20:29] #94 closed

[2016-12-03 16:23] tartillo commented on #93
Hi @indrimuska,
Thanks for the quick response, but the issue remains! It's not about the highlighting but the underlying value.
The date is changed whereas only the time should change.
Updated the [plunker](https://plnkr.co/edit/WhoupuqTDCuRazjKAR5S?p=preview) with an explicit check. You see the year switch from 2017 (initial value) to 2016 (today's year).

[2016-12-05 13:45] mathieu-morchipont commented on #89
Can you review https://github.com/indrimuska/angular-moment-picker/pull/97

[2016-12-05 17:31] ericdecarli commented on #3
YMMV - had the same problem and added these overrides to fix it

`position: initial;` for `moment-picker` class
`top: initial;` for `moment-picker-container` class

[2016-12-05 22:39] d53dave opened #98 "Cursor placement not possible using pointer in <input>"
Hi,

first of all, thanks for creating moment-picker. I was quite frustrated with uib-datepicker and this works great.

I have a small issue with using one of the official examples:
When I use this snippet
[code]
I cannot use my pointer (i.e. trackpad, mouse) to set the cursor in the <input> field. Clicking on it will open the picker and always place the cursor at the end of the string, regardless

[2016-12-06 15:30] dariusbakunas commented on #76
I second this, would be nice to show validation errors instead of adjusting the value automatically. I think it could be made configurable and then my guess is just modifying checkValue/checkView functions to reflect this

[2016-12-06 19:27] indrimuska commented on #96
Last weekend I added first two tests and integrated in the Travis CI environment.
You can run all tests by typing `grunt test`.
Anyone who likes to contribute is welcome!
Thanks :)

[2016-12-06 19:27] #96 closed

[2016-12-06 19:29] indrimuska commented on #98
Hi @d53dave, thanks for reporting this.
That's not an expected behavior, I'm going to check if it is bug.

[2016-12-06 19:55] #98 closed

[2016-12-06 19:55] indrimuska commented on #98
This should be fixed in [v0.8.2](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.8.2). Feel free to reopen this issue for any other problem :)

[2016-12-07 12:32] tayutaedomo opened #99 "TypeError: $scope.isValidMoment is not a function"
I found a error on following code.
https://github.com/indrimuska/angular-moment-picker/blob/master/src/angular-moment-picker.js#L761

I tried to fix this error. How about is below code?
[code]

[2016-12-09 19:40] Bana0615 opened #100 "Programmatically fill input"
I am trying to edit a page using this and i cannot get the input to fill in with data.

[code]

I have tried setting myCtrl.DateModel and myCtrl.data.Date to "2009-07-15 00:00" and neither work. Help please

[2016-12-10 17:50] indrimuska commented on #89
@mathieu-morchipont I haven't forgot your PR, I'm going to review it as soon as I can. :) thanks

[2016-12-11 12:59] indrimuska commented on #99
Thank you @tayutaedomo for reporting this, this is a regression introduced by last refactoring.
Give me 5 to make the changes.

[2016-12-11 15:19] #99 closed

[2016-12-11 15:21] indrimuska commented on #99
Fixed in [v0.8.3](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.8.3).

[2016-12-11 15:22] indrimuska commented on #89
`startDate` is now available starting from [v0.8.3](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.8.3).

[2016-12-11 15:22] #89 closed

[2016-12-12 16:48] hefler commented on #5
If someone comes across this and need a quick workaround.

If you make two inputs, A and B. You can have A to have its max-date to B's value and B to have its min-date to A's value. Not as elegant one calendar with two dates, but it works straight out of the box. Hope it helps :)

[2016-12-13 01:20] #76 closed

[2016-12-13 01:25] indrimuska commented on #76
FYI, setting `validate="false"` will allow you to raise `minDate` and `maxDate` errors every time the value of the picker gets out of bound -- available  starting from [v0.8.4](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.8.4).

[2016-12-13 01:28] indrimuska commented on #84
FYI, starting from latest release you can make use of `ngRequired` directive (or `required` in combination with `ngModel`) to set validity status rule for your picker.

[2016-12-13 01:28] #84 closed

[2016-12-13 15:38] ericdecarli commented on #100
to populate the input it is expecting a moment object

myCtrl.DateModel = moment(2009-07-15, 'YYYY-MM-DD')

[2016-12-13 15:40] ericdecarli commented on #87
did you find a solution for this?  tried show-header=false and showHeader=false

[2016-12-19 22:04] yiwenliuable opened #101 "Weird behavior with bootstrap dropdown"
Hi I just found this angular-moment-picker and it works great! In my project I use this moment-picker with bootstrap dropdown, and there are some issues I found:

- Issue 1:
Without angular ngAnimate, the moment-picker menu will automatically close after selecting "month", and no date is selected. It closes dropdown as well.
Plunker: https://plnkr.co/edit/0dUgDJyjNu71h2919KVl?p=preview

- Issue 2:

[2016-12-20 15:35] Bana0615 commented on #100
Thank you that worked!

[2016-12-20 15:35] #100 closed

[2016-12-20 18:50] indrimuska commented on #101
Hi @yiwenliuable, keeping outside my personal thoughts about using nested dropdown :), I think your issue is caused by `uib-dropdown` directive when someone clicks on the picker.

Since you have chosen to set the autoClose option to `outsideClick`, he thinks that someone has clicked outside its content, that is naturally wrong. More weird is that Moment Picker directive does not propagate click ev

[2016-12-21 17:34] IbraheemAlSaady opened #102 "moment-picker is already opened and when selecting date it doesn't close"
when the page loads, the picker is already opened at the bottom, and when I click on the input, it shows the picker at the top. when selecting a date it doesn't close after that.

[code]
could it be a conflict issue with moment or another library?

These are the other libraries I'm using

[code]

[2016-12-23 09:10] chillyprig commented on #95
Here is my markup:

`<input class="form-control" ng-model="Model.seminar.date" ng-model-options="{ updateOn: 'blur' }" name="date"
               placeholder="Select a date..." moment-picker="Model.seminar.date" required>`

Here is my Controller:

`$scope.Model.seminar = {
                     date: moment()
                 };`

Still nothing show in my input though

[2016-12-28 11:35] indrimuska commented on #102
Hi @IbraheemAlSaady, it seems a weird behavior, can you please provide a working example that reproduces this issue? Thanks :)

[2016-12-28 18:20] indrimuska commented on #72
FYI, I've added a new `isOpen` property to let you open/close the picker programmatically.
https://github.com/indrimuska/angular-moment-picker/releases/tag/0.9.1

[2016-12-28 18:20] #72 closed

[2016-12-28 18:31] indrimuska commented on #101
@yiwenliuable in the latest release I've added a new property that may help you: `isOpen` will let you open/close the picker programmatically.
Anyway, I'm going to close this issue, but feel free to ping me if you find a way to fix this or you have any other trouble related to this.
Thanks! :)

[2016-12-28 18:31] #101 closed

[2016-12-28 18:50] indrimuska commented on #95
Ok, first keep in mind the usage of the main properties:

If you set the same value for both properties (`Model.seminar.date`) you will get a Moment.js object.
Anyway, you should see your input populated with the right formatted date.
Check out [this plunker](https://plnkr.co/edit/wFfamOnDL1SvQuitTmPX?p=preview).

Would you please provide a full working example that reproduces this issue?
Thanks

[2016-12-29 10:25] suchetabiswas opened #103 "Days not changing on change of language"
Hi
I am using the moment picker with month view.  I have set the locale as selected language.
Issue is when I change the language from the language drop down the name of days of the week are not updated and displayed  in the last selected language.
The month name however gets updated.

Looking at the angular-moment-picker.js file, i see that when the Monthview is constructed the days (headers in v

[2016-12-29 18:08] destegabry opened #104 "Picker broken by minification"
I'm using Gulp to create a build of my Angular app, unluckily seems that your directive is broken by the minification.
This error is logged in each page containing the `moment-picker` directive.
[code]
The picker shows an empty calendar:
<img width="385" alt="schermata 2016-12-29 alle 19 06 25" src="https://cloud.githubusercontent.com/assets/4654358/21550408/f5660846-cdf9-11e6-9bf6-73a68ff90fec.pn

[2016-12-29 18:54] indrimuska commented on #103
Hi @suchetabiswas you're completely right about that.
Actually I cannot prepare a fix till next week, but I absolutely pack one and get back to you.
If you need a quick solution, you can just move header initialization in the `render` method.
Thanks for reporting this.

[2016-12-29 18:58] indrimuska commented on #104
Hi @destegabry
Which revision the picker are you using?
Can you please provide me a compiled version of one of the pages of your app?
Thanks

[2016-12-30 08:04] suchetabiswas commented on #103
Great thak you for looking into it!

[2016-12-30 08:06] destegabry commented on #104
I'm using the latest (0.9.1), here's a minified page with the issue
[dist.zip](https://github.com/indrimuska/angular-moment-picker/files/678418/dist.zip)

[2016-12-31 11:30] indrimuska commented on #104
Ok, what about this?

[2017-01-03 06:44] wannado commented on #92
[cant get this working](https://plnkr.co/edit/nfl49pOnI7sSrovmNTKP?p=preview)

I have initial value coming in as '2017-02-07T19:00:00.000Z'  and need to display as DD-MMM-YYYY HH:[00] A but beed to submit back as  string  format '2017-02-07T19:00:00.000Z'

[2017-01-03 12:00] suchetabiswas commented on #104
I am facing the exact same issue with the latest version.

[2017-01-04 17:04] F0r3v4R opened #106 "Can't get minutes-step to work"
Specifying minutes-step doesn't seem to change the selectable minutes on the hours view.  Instead, the default step of 5 minutes is presented.  I'm not sure if this is actually broken or i'm just doing something completely idiotic.

<input class="form-control"
                              moment-picker="ctrl.startDateTime"
                              ng-model="ctrl.startDateTime"

[2017-01-05 10:02] indrimuska commented on #106
Hi @F0r3v4R , as you can see fron the README, that option is not included in the directive attributes set, it's only part of the Moment Picker Provider: https://github.com/indrimuska/angular-moment-picker#momentpickerprovider

[code]

[2017-01-05 10:02] #106 closed

[2017-01-05 12:48] josephpedro commented on #92
Hi,

First off all good job with this library, I've been struggling with the javascript date object mostly when using different timezones.
I'm receiving a date from a server in two formats, a javascript date ( which gives me problems regarding timezones) and in a string format (ISO 8601. I'm trying to show the date in the datepicker in the format "dd/mm/yyyy" using the attribute format but the dat

[2017-01-05 15:00] josephpedro commented on #93
Hi @indrimuska,

I also have the same problem.

[2017-01-05 21:40] brenjt opened #107 "Add support for selecting the parent for the picker"
It would be very useful if I could specify the parent element for the picker to be placed in. This would help when the picker is used inside of elements that are overflow:scroll or hidden.

![image](https://cloud.githubusercontent.com/assets/1713885/21698602/efb42404-d354-11e6-9776-2198d1d59a75.png)

[2017-01-06 18:19] indrimuska commented on #104
OK, I am now able to see the error and it seems to be related to the way gulp applies minification (in particular the way it generates `view.isSelectable` method of the internal directive scope).

Do your gulp sources include minified or full version of the javascript file of the project?

[2017-01-06 18:24] indrimuska commented on #104
Since I've started learning Gulp just for this issue, someone of you -@destegabry or @suchetabiswas- can provide me an executable gulpfile.js I can use to find a solution for this?
Thanks :)

[2017-01-06 20:50] flyfap commented on #95
Hi! When the page is loaded I want the picker to be set with data from the API. I have tried to assign the date to the corresponding $scope of "moment-picker" but the changes are not displayed. Nor I have achieved it by using the "start-date" attribute.

[2017-01-09 00:07] emREVENGER opened #108 "Input group bug"
I have some troubles when I'm using the input group since 1 week. When I'm selecting a time, the value is not bind on the view. I fixed it temporary by adding the moment-picker inside the input
Before :
![capture d ecran 2017-01-09 a 01 11 11](https://cloud.githubusercontent.com/assets/4700465/21754827/8a3bd4da-d608-11e6-9059-6f74139f4a1e.png)

After change :

![capture d ecran 2017-01-09 a 01 08

[2017-01-09 08:43] destegabry commented on #104
My configuration attached, it might be a little oversized for this use case!
[gulp.zip](https://github.com/indrimuska/angular-moment-picker/files/692982/gulp.zip)

[2017-01-09 13:00] pdorgambide opened #109 "Warn about the bower package to avoid confusing with angular-moment-picker"
I just falled into the tramp. ;o).

bower install **moment-picker**

**Warnning**: This should not be confused with _angular-moment-picker_

[2017-01-09 19:02] indrimuska commented on #108
Hi @emREVENGER,

Starting from version 0.8, I've refactored the project in order to let people use full Moment.js object instead of using just strings.

This causes a minor breaking change for those who use Angular Moment Picker with input fields: as you can see from the [README](https://github.com/indrimuska/angular-moment-picker#options), now the property you use for two-way binding with `ngMode

[2017-01-09 19:14] indrimuska commented on #107
Hi @brenjt, I think this should be the next feature. And it will! :)

[2017-01-09 19:20] indrimuska commented on #108
Got it! Let me fix it in a minute!

[2017-01-09 19:27] #103 closed

[2017-01-09 19:27] #108 closed

[2017-01-09 19:28] indrimuska commented on #103
FYI, this fix will be available in the next release.

[2017-01-09 19:28] indrimuska commented on #108
FYI, this fix will be available in the next release.

[2017-01-09 19:33] indrimuska commented on #109
Thank you @pdorgambide, you're not the only one who had this problem.
I don't know if it is possible to show such a warning to those who use bower to get this package.

Anyway, the only think you all can do is to warn the other [repo maintainers](https://github.com/alanjhonnes/angular-moment-picker) to avoid this type of misunderstanding.
Thanks :)

[2017-01-09 19:33] #109 closed

[2017-01-09 23:02] indrimuska commented on #104
Thank you @destegabry.
Please contact me on [gitter](https://gitter.im/indrimuska) so we can chat directly to resolve this.
Thanks! :)

[2017-01-10 16:13] simonemazzoni opened #110 "Uncaught ReferenceError: moment is not defined"
Hello,

I installed this modules but when I try to use it registering the angular modules, it gives me this runtime error.

`Uncaught ReferenceError: moment is not defined`

Any idea?

[2017-01-10 17:58] ChrisGarber-Medlever commented on #110
I'm also getting this error. Our build process doesn't use node so I copied the file from dist to where we keep our scripts and on build I see that in the terminal. It appears to be the moment provider, but I don't know enough about webpack to diagnose what should be done. I have Moment.js in the same folder so it should be available.

[2017-01-10 18:34] ChrisGarber-Medlever commented on #110
Just worked it out for us, it was a problem with our ASP bundling, you need to make sure it's in the same bundle (or a later bundle) with moment.js (it was in our angular bundle, which is why I wasn't getting an error for angular).

[2017-01-10 19:53] simonemazzoni commented on #110
I've just figured out the problem. It was a webpack problem. I use a provider to include moment to webpack bundle and in my configuration moment was placed in `window.moment` in place of `moment`, and since this module search moment in a variable called `moment` he wasn't able to find it.

[2017-01-10 19:53] #110 closed

[2017-01-11 12:44] simonemazzoni commented on #3
Same problem using angular material. @ericdecarli suggested fix doesn't work.
I don't understand why the z-index attribute doesn't work.

[2017-01-11 18:27] simonemazzoni opened #111 "Error if specified locale attribute"
Hi @indrimuska ,
I tried to specify the `locale` attribute in my input but it gives me this error.

`TypeError: Cannot read property 'longDateFormat' of null`

`ng-model="vm.scheduleDate" moment-picker="vm.scheduleDate"` these are the relevant parameters of the input. Notice that if I do not specify the locale attribute, the error isn't fired, but then if I change moment locale with `moment.locale

[2017-01-12 17:29] ChrisGarber-Medlever opened #112 "When using ng-model, moment-picker attribute doesn't bind"
If a moment-picker is set up like so:

`<input moment-picker="foo" ng-model="bar">`

then modifying/deleting foo will not update bar. Modifying bar works wonderfully, and foo is updated.

Plunker to demonstrate: https://plnkr.co/edit/D45pEiugB7rEVNdWzHmp?p=preview

[2017-01-12 19:15] indrimuska commented on #108
Latest release [v0.9.2](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.9.2) is now out.

[2017-01-12 19:15] indrimuska commented on #103
Latest release [v0.9.2](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.9.2) is now out.

[2017-01-12 19:30] indrimuska commented on #112
Hi @ChrisGarber-Medlever, thank you for reporting this.
Give me 5 to patch a solution.

[2017-01-12 19:31] #112 closed

[2017-01-12 19:32] indrimuska commented on #112
This fix will be available in the next release, I'm going to write a unit test first before release it.
In the meantime, you can have dist files by running `npm run release`.

[2017-01-12 20:49] archesh5001 commented on #95
Hello,  I have been following this comment chain and even I am not able to fix this issue. Can you please look in to this? In my scenario, I am storing the moment object from the ng-model in to a JSON payload. Later, when the UI reads the payload again, the date field doesn't populate back from the  ng-model although the moment object is still there.

[2017-01-12 20:52] wiggitamoo commented on #95
I also have the same issue as mentioned in the above two posts. A fix to initialize the moment picker at startup would be very helpful.

[2017-01-12 21:23] ChrisGarber-Medlever commented on #112
WOW that was fast, thanks so much!! You could even move that logic into the if(attrs[ngModel]) because I think that's the only time its relevant. One less watcher for efficiency?

[2017-01-13 01:01] marcgetqd opened #114 "format="LT" date gets reset to now"
I have am using two instances of the`moment-picker` directive.

One is to select the date, one is to select the time.

When the format is set to `LT` it disregards the date in the scope and resets it to now, but it keeps the time as is.

![screen-shot-2017-01-12-at-5 53 57-pm](https://cloud.githubusercontent.com/assets/18057718/21914526/2504faa6-d8f1-11e6-892e-6dcfea555501.jpg)

Is there a way to

[2017-01-13 21:44] indrimuska commented on #112
Well, that's not completely correct, because you can change view value (property set from `moment-picker` attribute) without having to set any `ngModel` property (e.g. when using the picker with `<div>` elements).

Anyway [v0.9.3](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.9.3) is now out with this fix.

[2017-01-13 21:54] indrimuska commented on #111
Hi @simonemazzoni, maybe there's something wrong in your settings 'cause it seems to work properly to me.

[code]

Can you please share a working example of your configuration?
Thanks :)

[2017-01-15 11:41] SimonGoransson commented on #111
I have exactly the same problem, locale="en" works fine but "dk", "sv", "it" doesn't work for me.

[2017-01-16 06:22] sadashivm opened #116 "display datepicker at right side of the input element"
Hi,
is their any configuration for display datepicker at right side? . now currenlty it is showing at left side.

i added bellow code

[code]
for reference find the screen shot
![untitled](https://cloud.githubusercontent.com/assets/10355473/21972811/48e425e8-dbe2-11e6-9295-be9ab9ef9ea3.png)

[2017-01-16 10:30] yasirrafiq33 opened #117 "show-header="false" is not working"
Hi indri...

I have placed to input one for date and one for time. Once I select date then in time picker date should come in header. But time picker header is showing today date.
If this is not happened then how can I header as false. Like I don't want to show in time picker.

Regards
Yasir

[2017-01-16 20:40] tm-fari opened #118 "Datepicker opening after tab switch"
To reproduce : open picker, select a date, **do not click anywhere**, change browser tab, come back to datepicker's tab : the datepicker is open again.

maybe related to #102

[code]

[2017-01-19 15:11] flyfap commented on #95
Hi, I have fixed the problem. I was using Bower instead of NPM, so I was using a very simillar package that is called the same. 🙁

I apologize and I hope this helps other people having the same issue.

[2017-01-19 19:45] wiggitamoo commented on #95
Thanks for the quick fix. Is this change pushed in the 0.9.3 distribution?

[2017-01-20 13:12] wiggitamoo commented on #95
I am also using bower in my application. Just to clarify, are you saying to use the NPM version of the library like this:

`npm install angular-moment-picker`

, or are you saying to install the library with bower still like this:

`bower install angular-moment-picker`

Thanks for your clarification.

[2017-01-20 18:37] indrimuska commented on #95
[README](https://github.com/indrimuska/angular-moment-picker#installation) file shows how to get the project properly:

[code]

Pay attention and **do to not confuse** this project with the bower ones named `angular-moment-picker` (see https://github.com/indrimuska/angular-moment-picker/issues/109).

[2017-01-20 18:40] indrimuska commented on #116
Hi @sadashivm,
the picker is appended to the element that contains the `moment-picker` attribute.
Can you try to move the attribute to the md-input-container directive?
Thanks

[2017-01-20 18:43] indrimuska commented on #114
Hi @marcgetqd, you can do both with Angular Moment Picker.

- a) Use the same ngModel variable for both picker, but different momentPicker variable (and also different formats)
- b) Add `show-header="true"` attribute

[2017-01-20 19:00] wiggitamoo commented on #95
Yes @indrimuska that is correct. However, when using the bower install moment-picker (as specified in the README file, a predefined date is not being assigning to element.

[2017-01-20 19:10] indrimuska commented on #114
Damn, showHeader has been missed after one of my refactoring.
Sorry, let me fix this in a minute.

[2017-01-20 19:18] indrimuska commented on #114
This fix will be released on the next version.

[2017-01-20 22:00] indrimuska commented on #117
This is already fixed and will be published in the next release.
Thanks. :)

[2017-01-20 22:02] indrimuska commented on #117
FYI [v0.9.4](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.9.4) is now out.

[2017-01-20 22:02] #117 closed

[2017-01-20 22:02] indrimuska commented on #114
FYI [v0.9.4](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.9.4) is now out.

[2017-01-20 22:02] #114 closed

[2017-01-20 22:06] indrimuska commented on #95
Does bower install get different distribution files than npm install? Really?

[2017-01-20 22:15] indrimuska commented on #118
Hi @tm-fari,
Actually it is wanted that focus event will get the picker to open, and removing this will cause an unwanted breaking change (and it also removes a useful feature).

This is not due to Angular Moment Picker but to a browser behavior.

[code]

You can see that if you change browser tab and go back to the previous one, it will always fire focus event.

Anyway, you can control picker ope

[2017-01-20 22:15] #118 closed

[2017-01-21 07:12] yasirrafiq33 commented on #117
When you will publish?
On Sat, Jan 21, 2017 at 3:02 AM Indri Muska <notifications@github.com>
wrote:

[2017-01-21 21:28] marcgetqd commented on #114
Thanks @indrimuska, also just so you know, if you use two different pickers, one for date and one for time with the same ng-model, when you update the date it resets the time to 12:00AM on the timepicker

[2017-01-23 17:25] tm-fari commented on #118
Hi,

Thank you very much for your reply, I'll take a closer look at this
later this week.

Thanks also for moment-picker, we were having issues with angular
material datepicker and are quite happy now with yours!

Take care

Fahri Tardif

On 17-01-20 05:15 PM, Indri Muska wrote:

[2017-01-25 00:53] crisdb commented on #20
Did you guys have any luck with this? I have a project with the other of @indrimuska datpicker but now need timezone to be added.

[2017-01-26 08:55] georgeasp opened #119 "The Netherlands Locales are missing"
We implemented the library in our application and looks good.
Unfortunately there are no NL locales.
Is it possible to include them with the next release?

Thanks!

[2017-01-26 08:59] georgeasp commented on #119
Found it! :)

[2017-01-26 08:59] #119 closed

[2017-01-27 16:02] programmingjam opened #120 "output not displaying correct"
<div>
                                <input type="text" id="endTimeStamp"
                                       ng-model="endTimeStamp"
                                       class="form-control"
                                       maxlength="40"
                                       required="required"
                                       moment-picker="ctrl.endTimeFormatted"

[2017-01-31 08:39] destegabry commented on #104
I written to @indrimuska on gitter but received no response

[2017-01-31 17:43] indrimuska commented on #104
Sorry, I was not receiving any notification from Gitter for a month!
I've just seen your request, I'll answer you asap.

[2017-02-01 17:45] slacktracer opened #121 "Class for days out of (before or after) current month"
I just forked and as I need to style days (in month view) before and after current month I coded a minor change.

Are you interested in pull requests?

All I did was change this:

[code]

to this:

[code]

This way I can, e. g., hide the days that there are not of the current (showing) month.

Say:

[code]

So if you care about this "feature", let me know...

[2017-02-01 19:23] byte369 opened #122 "24h Format in minutes selection"
When I select year -> month -> day -> hour(23:00 for example) then next view(minutes) shows but time is not 24h formatted, but it should be cause hours view is in 24h formatted.

Any help on this?
Thanks.

![s1](https://cloud.githubusercontent.com/assets/25489753/22522526/2b300472-e8bc-11e6-9bb7-022d3534a317.png)
![s2](https://cloud.githubusercontent.com/assets/25489753/22522527/2b34621a-e8bc-11e6

[2017-02-02 19:25] jeyarajcs opened #123 "min-view="day" - cannot change the "day" value from controller. It takes current date as default."

[2017-02-02 22:59] indrimuska commented on #114
Just pushed a new release of the picker ([0.9.5](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.9.5)), this should allow using the same model across multiple pickers.

[2017-02-02 23:07] indrimuska commented on #114
Check out this plunker: https://plnkr.co/edit/MqdNy1?p=preview

[2017-02-02 23:19] indrimuska commented on #120
Hi @programmingjam, `format` allowed are those from Moment.js.
In your case `YYYY-MM-DDTHH:mm:ss.sssZ` is not what you think, 'cause `Z` token is the timezone number, instead of the "Z" characted. You should use `[Z]` instead.

As you surely know, this is not due to the picker, but it is all driven by moment.js:
[code]

[2017-02-02 23:19] #120 closed

[2017-02-02 23:32] indrimuska commented on #121
Hi @slacktracer, thanks for this proposal, but I would prefer to have the ability to click on the previous month (if visibile), I think it is works better in terms of UX.
Thanks :)

[2017-02-02 23:32] #121 closed

[2017-02-02 23:34] indrimuska commented on #122
Hi @byte369, use [momentPickerProvider](https://github.com/indrimuska/angular-moment-picker#momentpickerprovider) and change `minutes-format` value.
Thanks

[2017-02-02 23:34] #122 closed

[2017-02-02 23:38] indrimuska commented on #123
Hi @jeyarajcs, I'm not sure to reproduce your issue.
Can you please share an example of usage or a plunker that show this issue?

[2017-02-02 23:40] #102 closed

[2017-02-02 23:41] indrimuska commented on #95
I'm going to close this issue.
Feel free to reopen it if you have any trouble.

[2017-02-02 23:41] #95 closed

[2017-02-03 17:35] jeyarajcs commented on #123
[code]
Hi @indrimuska , actually that is not an issue. Just an additional requirement. In the above code i used min-view="day".  That takes current date as default. Is there any possibility  to change the date value from controller?  I attached image, in that I highlighted the date like "February 3, 2017". That date  is automatically coming(system date), Instead of that can I manually load some da

[2017-02-03 19:31] indrimuska commented on #123
Well, you are using format `LT`.
How can you specify the date in a controller using that format? Simply you can't, because that formats is just a representation of time (e.g., "8:30 PM", "20:18").

That being said, you have two ways:
 - *Remove header*: add `show-header="false"` as attribute and don't care about the displayed date, just use it as a time picker
 - *Use Moment.js objects*: setting n

[2017-02-03 19:32] indrimuska commented on #123
Anyway, I'm going to close this issue. Feel free to ping me for any doubt :)

[2017-02-03 19:33] #123 closed

[2017-02-03 19:33] indrimuska commented on #116
I'm going to close this issue since no answer has been provided.

[2017-02-03 19:33] #116 closed

[2017-02-03 19:34] indrimuska commented on #111
I'm going to close this issue since no answers has been provided.

[2017-02-03 19:34] #111 closed

[2017-02-03 20:00] slacktracer commented on #121
@indrimuska

Ok, sure. =)

The visibility thing was just an example. What I am going for in my fork is the **possibility** of styling them differently, if ever necessary. (It is in my particular case.)

Anyway, thank you very much. Great piece of code, mate!

[2017-02-03 21:17] simonemazzoni commented on #111
@indrimuska yes, I'm sorry about this, but I hadn't time to investigate and I had to change library because of this bug and another issue about the responsiveness of the layout of the component.

[2017-02-04 05:56] jeyarajcs commented on #123
Yah sure.. Thanks for your response..

[2017-02-04 15:02] indrimuska commented on #93
Latest version seems not affected about this bug.
Could anyone of you verify this?

[2017-02-04 15:13] indrimuska commented on #92
Hi @josephpedro, thanks for the kind words.

Be careful when using momentPicker directive with ngModel in two different DOM elements.
In your case `EndDateMoment` is not related to moment-picker, it is just a two-way bindable property that does not make use of the picker. If you want to use momentPicker with both formatted string and moment.js object you have to add the directive in the same place

[2017-02-04 15:18] indrimuska commented on #92
Hi @wannado,
In your plunker you are using different formats for the picker, in particular you've initialized `datepicker` to `"2017-02-07T19:00:00.000Z"` and you want to use that string in the format `DD/MM/YYYY HH:[00] A`.

In your use case you just need to set `datepicker` to `"07/02/2017 20:00 PM"`.

[2017-02-08 06:46] janfeyen opened #124 "Angular 2"
I love your component, any plans to port it to angular 2?

[2017-02-08 07:24] Swatantramishra1 opened #125 "Disable Past date from current Date"
Hi,
This is best date picker till now for angular.
I am trying to use something like this -
Select Date picker>past date should be disabled from the today date.

[2017-02-08 11:07] alexdunne commented on #125
@Swatantramishra1 The picker provides a callback for doing exactly this. If you look at [this example](https://github.com/indrimuska/angular-moment-picker#methods) you'll see a callback is provided for the `selectable` parameter from the parent controller. In your case, you would want to compare the date passed to the method with today's date and return false for anything that is before today.

Si

[2017-02-08 12:08] alexdunne opened #126 "Change event not firing"
Hey, I've been using the date picker and have run into a problem with the change event. As you can see from [this example](http://plnkr.co/edit/Y9sigSLVIGOw8iYD6xMy?p=preview), the change callback provided is not being called.

Not sure if I've misunderstood the docs or if this is an actual bug.

Angular version: 1.5.8
Angular moment picker version: 0.9.5
Momentjs version: 2.10.6

[2017-02-08 12:42] DickSwart commented on #126
Same issue here, I'm using ControllerAs syntax thought that might be the issue. But now I see @alexdunne has the same issue

[2017-02-08 12:43] DickSwart opened #127 "Not formatting initial value"
When I set the initial model value to moment() the date is not formatted in the View, only gets formatted once you change the date.

[2017-02-08 19:34] claus1982 commented on #104
I have the same problem, any news?

[2017-02-08 19:42] indrimuska commented on #104
No, not yet. Actually I am unable to reproduce this issue. @claus1982 you can contact me directly on gitter, since @destegabry is quite busy in this period.

[2017-02-09 21:41] CasperJ commented on #3
@simonemazzoni and @Adoniasv: I have the same problem in Angular Material as you.
I've made some progress. After inspecting how the "native" md-select is getting around this, I could see that the `moment-picker` needs to be moved out of the `md-dialog`. So I wrote a small directive to do that. I'ts kind of hacky, but it gets the job done:

[code]
Put it on your moment-picker like this `<span momen

[2017-02-13 13:35] Fabiencdp opened #128 "How to trigger an "open" event ?"
Hi !

Is there a way to trigger an event and open a datepicker ?

For exemple, i have two datepicker on the same page ( start / end ), i want to automatically open my "end" datepicker after user have chose the start date.

Thanks for your help !

[2017-02-14 10:47] nurhasyim354 commented on #127
Hello,
Any suggestion for us to fix this issue?

Thank you

[2017-02-15 17:48] Viren0007 opened #129 "Past time is also selectable even after setting min-date"
I have set min-date to some calendar selected date and adding time on the basis of day difference. If difference between today date and selected date is greater than 0 then adding **00:00 AM** with selected date. If 0 then adding current time of today.

Now setting this date and time value to  second calnedar which shows time view. But when I am changing date to next day and again changes to previ

[2017-02-17 03:18] ShankzPatil commented on #104
# my vendor js line 744:

"rightArrow","additions"],function(e){n.isDefined(t[e])||(t[e]=u.provider[e]),n.isDefined(i[e])||(i[e]=t[e])}),i.ngModel||(l={}),t.limits={minDate:o.toMoment(t.minDate,t.format,t.locale),maxDate:o.toMoment(t.maxDate,t.format,t.locale),isAfterOrEqualMin:function(e,i){return!n.isDefined(t.limits.minDate)||e.isAfter(t.limits.minDate,i)||e.isSame(t.limits.minDate,i)},isBefore

[2017-02-18 13:49] adrian410 commented on #126
Same issue here.

[2017-02-18 14:46] indrimuska commented on #126
Hi guys, thank you for reporting this.
Not sure to understand the problem, since I see the callback has been fired when the model changes.

![image](https://cloud.githubusercontent.com/assets/1561134/23093989/0b457bbe-f5f1-11e6-8bfa-37a530ae0be9.png)

Actually, I observe a different issue. The formatted model (e.g., `firstDate`) won't be updated if the `ngModel` property has not been set. Already

[2017-02-18 14:51] indrimuska commented on #128
Hi @Fabiencdp, yes you can do that.
Actually the picker will be opened when you focus the `<input>` field (or any element you use, e.g., `<div>`) or by setting the `isOpen` property to true. This last property (check out [readme](https://github.com/indrimuska/angular-moment-picker/blob/master/README.md#options) for more infos) contains the actual opening state of the picker, so it will be unset wh

[2017-02-18 14:51] #128 closed

[2017-02-18 15:00] indrimuska commented on #129
Hi @Viren0007, your plunker is not running (`TypeError: $filter is not a function`) since you were not adding `$filter` to the services injection list.

However I am not sure I've understood your issue, but it seems that your min date (`DateWithOneDayAhead`) has not the same format of the date you want to set (`MMMM DD YYYY`). Since I don't think that you really want to use four digit month (`MMMM

[2017-02-18 15:00] #129 closed

[2017-02-18 15:02] indrimuska commented on #124
Hi @janfeyen, thank you for you question.
I'm going to write a new project using Angular2, and I think this picker will be part of it.
I will notify you in this thread (and also in the README file) when it will be available.
Thanks :)

[2017-02-18 15:11] indrimuska commented on #127
Hi guys, initial value is set from the model, you just need to set the variable you attach to the ngModel property properly. On the other side, if you use dates as string you have to set the property attached to `momentPicker`.

[code]

[code]

You can also use both variables together and let the picker handles the updated from one to another. ;)

[2017-02-18 15:11] indrimuska commented on #127
I'm going to close this issue, feel free to ping me for any trouble! :)

[2017-02-18 15:11] #127 closed

[2017-02-18 15:15] indrimuska commented on #125
Thank you @Swatantramishra1 for you answer.

An alternative way to solve this is to set `minDate` property to the first selectable date you want to have in your picker. In your case, minimum date should be set to today.
Thanks.

[2017-02-18 15:15] #125 closed

[2017-02-19 05:02] fireole commented on #126
Mine seems to get into the change event that I have defined, however the newValue, oldValue are undefined.

Angular version: v1.6.1
Angular moment picker version: 0.9.5
Moment version: 2.17.1

here is my markup:

![image](https://cloud.githubusercontent.com/assets/985103/23099480/94cfb1e0-f625-11e6-9a86-9303fff4552b.png)

here is my console debugger:

![image](https://cloud.githubusercontent.com/a

[2017-02-19 12:56] indrimuska commented on #126
Hi @fireole, to help you I need the entire setting of your property (e.g., what's the value of `vm.data.statDate` and `vm.startDate`?) or -recommended- a full working example showing this issue.

[2017-02-20 09:38] junlight opened #130 "icon click in the chrome browser does not work"
icon click in the chrome browser does not work.

icon click does not work when opening the homepage(http://indrimuska.github.io/angular-moment-picker/) as a chrome browser.

--------------------------------------------------------------------------------------------------------------
homepage sameple
--------------------------------------------------------------------------------------------------

[2017-02-20 11:23] gsonego opened #131 "Question: How to post date in ISO format"
Hi guys, how are you ?

I really liked this datepicker, it has been a hard work trying to find something good for angular..
But, It does not fullfill my needs.. I'd like to work with a specific locale (pt-BR) and to format date like this "dd/MM/yyyy" but when I try to use model value it is formatted and not in ISO format, so I'm facing problem posting data to the server..

Any Ideas ?

[2017-02-20 15:01] GeorgeKnap opened #132 "Picker date selection confused in IE"
This might be a bit of odd use-case but anyway. Problem occurs only in .NET Forms WebBrowser Control which uses IE to render.  Any other browsers works fine (tested on Chrome, Edge, Safari). Lets look at the screen video:
[http://giphy.com/gifs/angular-moment-picker-xTiN0zgljEJo5NzALS](http://giphy.com/gifs/angular-moment-picker-xTiN0zgljEJo5NzALS)

The picker opens the popup calendar at correct d

[2017-02-21 05:07] ChrisGarber-Medlever commented on #131
You could take advantage of both the locale and format settings included. Something like this:

<moment-picker="foo"
format="LLLL"
locale="pt-br">

or if you want it to display UTC dates

<moment-picker="foo"
format="moment.ISO_8601"
locale="pt-br">

[2017-02-21 09:49] Stenkilde opened #133 "Importing module gives undefined moment"
Trying to import the module into my typescript code is leaving me behind with a "Moment is not defined" error in my console.

I am loading moment in a different bundle, together with angular.

No matter what way I try to load the module and or Moment it ends up breaking

[2017-02-21 10:26] gsonego commented on #131
Hi, tks but maybe I didn't make myself clear..
I have no problem "formatting" or "localing", they are working fine..
My problem here is to use model value when posting because at this moment I need a ISO format date so server can't understand..

I have used in another project the 'parsers' and 'formatters' inside directive so, model has a 'model value' and a different 'view value'.. I thought it c

[2017-02-21 10:28] gsonego commented on #126
Hi, same problem here.. I had to use version 0.94 to make this work.

[2017-02-21 11:24] anddrews opened #134 "Method which binds to change event is call twice"
If model in datepicker Is changed externally, method wich binds to change event is call twice
http://plnkr.co/edit/lJzPYESyNQFDV0cVbHde?p=preview after click on button '+1 hour' or '-1 hour' we get twice alert

[2017-02-21 14:32] #134 closed

[2017-02-21 18:56] ChrisGarber-Medlever commented on #131
I'm not quite sure what your use case is, but I'm actually in a similar scenario. I have dates coming to me from the server in UTC, which I then need to display in the picker and send back to the server in UTC. I do something like this:

<input moment-picker='fooString'
    ng-model='fooMoment'
    format='yourDisplayFormat'
    locale='yourLocale'
    change='sendDate(newValue, oldValue)'>

and y

[2017-02-21 18:59] ChrisGarber-Medlever commented on #133
I faced this issue too. It had to do with the order I was loading my bundles I believe. Try putting them in the same bundle if you can, if not try to make sure that this bundle is loaded after the moment bundle.

[2017-02-21 19:04] ChrisGarber-Medlever commented on #71
From Moment docs, seems pertinent, hope it helps!:

As of 2.13.0 you can pass a bool as the first parameter of the weekday functions. If true, the weekdays will be returned in locale specific order. For instance, in the Arabic locale, Saturday is the first day of the week, thus:

moment.locale('ar');
moment.weekdays(true); // lists weekdays Saturday-Friday in Arabic
moment.weekdays(true, 2); //wil

[2017-02-24 07:23] LousyJohnny commented on #126
Same here : couldn't make it work with the latest release.
No error in the log. Works great with 9.4.

[2017-02-25 03:20] mikeover commented on #126
+1

[2017-02-26 17:08] indrimuska commented on #126
Sorry guys for coming back to you so late, my spare time becomes every time more smaller.
Anyway, I was be able to reproduce this issue and I think I've already fixed it. I've just released [v0.9.7](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.9.7) for this purpose. Please check it out and tell if it still persist. :)

I've also updated the README file adding a sample for (al

[2017-02-26 20:16] #130 closed

[2017-02-26 20:16] indrimuska commented on #130
Hi @junlight, the fix will be published in the next release.

[2017-02-26 21:00] indrimuska commented on #132
Hi @GeorgeKnap, I'm not able to reproduce this issue. Just tested on IE11.

![image](https://cloud.githubusercontent.com/assets/1561134/23343623/f8e72cf4-fc6e-11e6-89fe-b369c561ec40.png)

This is the Plunker I've created to analyze this issue:
https://plnkr.co/edit/EVp1IL?p=preview

[2017-02-26 21:26] indrimuska commented on #133
Hi @Stenkilde, thank you for reporting this. I'll investigate in this.

[2017-02-27 18:49] indrimuska commented on #133
Ok, got it. Angular Moment Picker requires the `moment` symbol already set in the global window property. Since Moment by itself does not expose that symbol when you import it using any amd/umd module loader (due to the isolated variable scope), you need to add the symbol by yourself like this:

[code]

[Attached](https://github.com/indrimuska/angular-moment-picker/files/804627/picker-sample-ts.zi

[2017-02-28 16:26] mkharkovenko opened #135 "Format am/pm"
is it possible to make the hour picker into am/pm clock instead of 24-hr clock ?

[2017-03-02 21:58] mouss-delta commented on #104
Hi,

First of all I would like to thank you  indrimuska for your great job, this module is amazing!

Unfortunately I am facing exactly the same issue, is there any update concerning this issue?

Thanx

[2017-03-03 05:09] domalak commented on #104
I had this problem too. I solved it by telling Gulp to use `angular-moment-picker.js` instead of `angular-moment-picker.min.js` which was taken by default.

[2017-03-03 07:48] selectedpixel commented on #104
@mouss-delta Your suggestion definitely makes the error go away, although the picker no longer works for me so it's not really a solution.

[2017-03-03 07:51] mouss-delta commented on #104
Hi @selectedpixel, have you tried @domalak solution? It works fine for me.

Here is how I do it, in bower.json I added this :

"overrides": {
    "angular-moment-picker" : {
      "main": [
        "dist/angular-moment-picker.js",
        "dist/angular-moment-picker.css"
      ]
    }
}

[2017-03-03 07:55] selectedpixel commented on #104
@mouss-delta I'll see if I can get that to work.

[2017-03-03 14:05] creativedeveloper-net commented on #126
Hi, looks like there is still some issue, but maybe in this concrete example:
[plunker](https://plnkr.co/edit/IWNP2P6qfjJs3ZBPnP5R?p=preview)
what I'm trying to achieve is a time-picker where I would like to be able to only select hours, and if neccessary I would like to change minutes manualy, but when I set max-view="day" it looks like it doesn't fire change event when I update input manualy

[2017-03-03 14:08] selectedpixel commented on #104
@mouss-delta That worked. I think it goes without saying this is still a pretty large issue though.

[2017-03-03 17:51] indrimuska commented on #135
Sure, you need to use momentPickerProvider, check it out in the README file.

[2017-03-03 17:51] #135 closed

[2017-03-03 18:06] mkharkovenko commented on #135
Could you provide details? I used hours-format and hours-start/hours-end but it is not helped me

[2017-03-03 18:17] indrimuska commented on #135
The option you're looking for is `hoursFormat`:

[code]

[2017-03-03 18:35] mkharkovenko commented on #135
thanks

[2017-03-04 18:56] sagarrajak opened #136 "formatting initial Date during loading data from server"
during loading initial data  as a ng-modal it show
Sun Mar 05 2017 00:00:00 GMT+0530 (India Standard Time)
but after selecting some value in input field it's show
11/23/2017 2:30:52 PM

[2017-03-07 01:26] ghostrydr commented on #68
Looks like this is still an issue with the latest version of moment picker and Angular 1.3.*

https://plnkr.co/zCpgQK

If you bump the angular version to 1.4 it starts working.

[2017-03-07 08:02] indrimuska commented on #68
Thank you @ghostrydr for reporting this, I"ll look into this.

[2017-03-07 09:55] is-bart opened #137 "Sync selected date with model"
I had a user ask me if it would be possible to not have to go through every view in the picker when editing a date. Right now I only get the date with the _change_ when the whole process is over but if they just wanted to change the month for instance they still have to click on the day, hour, minute, etc. even if these don't need changed.

Only way I see to get the current selection is with _sele

[2017-03-07 10:52] mouss-delta opened #138 "How to access minDate and maxDate in additions' templates"
How can I access minDate and maxDate in additions' templates? In the sample you give in plunker you use ng-template to define the additions :

[code]

And I would like to use the top addition to display a message to say the autorized date (set with min-date and max-date attributes), however I didn't manage to access minDate and maxDate from the ng-template.

[2017-03-07 12:04] Swati16T opened #139 "Memory Leak using moment-picker"
I am using this component in my angular app. On every new page, i am inserting a new date time component.
After opening 20 pages (not simultaneously), my app becomes slow and less responsive and a tremendous amount of memory leaks is seen.
After removing just this component, things were smooth again.
Is there some thing i am missing while using this js?

Attaching a snippet from my code.
[Date-tim

[2017-03-08 17:12] luludpsalmist opened #140 "Moment-Picker not displaying dates via ng-model"
So i've added on the moment picker and I'm able to access the datepicker  by simply clicking to select dates. It is not exactly clear to me however as to how I can get the date pre-populated.

I have added my date to the input by simply using ng-model  directive
<input type="text" class="form-control input-sm" moment-picker="vm..FromDate" ng-model-options="{ updateOn: 'blur' }" ng-model=" vm.FromD

[2017-03-09 14:42] sagarrajak commented on #136
sorry i got this i was using date object as an ng-modal , i changed it to moment object then it worked ...

[2017-03-09 14:59] cbranca opened #141 "Moment picker doesn't update input field"
I'm using angular moment picker with angular material. When I pick a date it doesn't appear in the input element. This is the code that doesn't work:
[code]

If I put the moment-picker directive inside the input element it works. But I want to show the picker if I click on the icon, not on the input field. I'm missing something?

[2017-03-09 18:51] mouss-delta opened #142 "How to initialise only time and not date"
I am using the picker with the following format : "DD.MM.YYYY HH:mm", and I am using start-date property to set the initiale date of my date picker.

I am in the case where I want to give initial value only for the hour and not the date, for example I would like the time 10:30 to be preselected but the rest (year, month, view) has to be selected by the user. I tried start-date="10:30" even if the

[2017-03-11 00:55] Yugloocamai commented on #140
Same issue here.

[2017-03-11 14:14] pedrokost opened #144 "Open at specific month"
I use this library as a date range picker. When user select the "from" date much in the past (say 5 months ago), I would like the "to" picker to open at the same month as the "from" value. Currently, the default view shows the current month.

Is this possible?

[2017-03-13 06:33] mrcarl79 opened #145 "Formatting of initial date when in a bootstrap input-group"
Hi,

See the example below, I can't seem to get the format date to work in this scenario, is there something wrong in the plnkr example below?

[https://embed.plnkr.co/0ZHLp3MuzFDhgOLjnayM/](https://embed.plnkr.co/0ZHLp3MuzFDhgOLjnayM/)

Thanks in advance, definitely the best looking angular date/time picker out there so would love to get it working in my app :)

[2017-03-13 15:03] mouss-delta commented on #145
Hi,

The problem may come from the fact that you are using 2 different variables : momentDate and formattedDate.

The input is binded to the variable momentDate, and in the controller you set this variable like this `$scope.momentDate = moment();` so it is normal that the date is not formatted inside the input, if you want it to be formatted, you need to initialise this variable like this : `$scop

[2017-03-13 15:57] mouss-delta commented on #141
Hi, I had similar issue you have to combine moment-picker and ng-model directives. Have a look here : https://plnkr.co/edit/P6F158?p=preview

[2017-03-13 22:28] Yugloocamai opened #146 "Initialize formatted datetime on load"
Why doesn't this directive render the formatted datetime on init?  There doesn't seem to be any simple way of doing this.  This should be default behavior.  Render datestring provided in "moment-picker" on init.

[2017-03-14 09:14] AlexandreLogist opened #147 "Displaying current time [breakdown minutes]"
Hello Guys,

[code]

I can select until the hours (no minutes): 1:00 - 24:00, but when it's selected the minutes are the minutes that are on my computer... What am I missing? :) Thanks in adv !

[2017-03-14 11:03] pedrokost opened #148 "Dynamic positioning breaks on iPad with keyboard"
The positioning of the datepicker does not take into account the on-screen keyboard. In the screenshot below it is possible to scroll up to see the picker, but if the picker where at the very bottom of the page (e.g. fixed at bottom), the picker would be inaccessible. Instead of positioning itself on top of the element, it displays below it, and the keyboard covers it.

I would be fine with manual

[2017-03-14 15:56] easyest opened #149 "Clearing model and setting form pristine"
My goal - clear input and make form pristine again. To clear the picker I set model to undefined or null. After that I try to set the form pristine, but it does not happen.

Please see the plunk: https://plnkr.co/edit/NZUNOe6jZYcITgprwk18
Expected - form is pristine (button is grey) after button click.
Result - form is pristine only after second click on the button. In other words - moment-picker

[2017-03-14 17:39] indrimuska commented on #126
Good analysis @creativedeveloper-net! Thank you for creating a full working example that's able to reproduce your issue. I'm going to look at this.

[2017-03-14 18:02] indrimuska commented on #126
It should be fixed in the latest commit and will be available in the next release in the next 2 days.

[2017-03-14 18:24] indrimuska commented on #131
Hi @gsonego, what @ChrisGarber-Medlever said is correct!

You can handle with Moment.js object dates in the way you want just by adding `ng-model` aside with `moment-picker`. This will allow use both formatted date string and Moment.js object date. So, in your case you can simply parse the date from ISO to Moment when initializing the Controller and format back to ISO string when submitting the fo

[2017-03-14 18:24] #131 closed

[2017-03-14 18:26] indrimuska commented on #132
Closing this since it's not reproducible.

[2017-03-14 18:26] #132 closed

[2017-03-14 18:35] indrimuska commented on #133
I'm going to close this issue, feel free to open it again for any problem.

[2017-03-14 18:35] #133 closed

[2017-03-14 18:35] #136 closed

[2017-03-14 18:39] indrimuska commented on #137
Hi @is-bart, as you said `selectable` is not the way to do that correctly, it's a dangerous method if you abuse it and I don't think it could be help you for that purpose.

I'm wondering why you can't simply use min/max view properties.

[2017-03-14 18:51] indrimuska commented on #138
Hi @mouss-delta, you can access to the internal directive scope, but it's not a good thing to do.
Let me change the code in order to transclude the same scope you have in your input.

[2017-03-14 19:24] indrimuska commented on #138
This will be available in the next release.

[2017-03-14 19:27] indrimuska commented on #139
Hi @Swati16T, thank you for reporting this. I'll look at this in the next days.
I'm sorry I don't have too much spare time in this period. :(

[2017-03-14 19:29] indrimuska commented on #140
Hi @luludpsalmist, I am not sure I've completely understood your problem.
Could you kindly post a working plunker that shows your issue?
Many thanks.

[2017-03-15 07:56] mouss-delta commented on #138
Thanx a lot @indrimuska

[2017-03-15 10:27] is-bart commented on #137
Thanks for the reply @indrimuska

I don't understand how min/max view properties would be any help?

The issue isn't that we don't need hour/minute/seconds views but that sometimes you might want to only change the month or only change the day and keep the hours/minutes/seconds. As it is right now a user has to go through every view even if they are not relevant. Eg: I want to keep an appointment

[2017-03-15 16:35] rahultokase commented on #148
Hi

I am facing the same issues do you have any workaround for this

[2017-03-15 17:44] indrimuska commented on #148
Hi guys, I'll work to give you a property to allow choosing a fixed placement of the picker.
In the meantime you can add the `readonly` attibute to your `<input>`s to avoid opening the keyboard.

[2017-03-15 18:52] dtkern commented on #140
I have the same problem. Trying to set today date as default but I can't get the input to show ng-model value.

[2017-03-15 18:56] indrimuska commented on #140
Hi @dtkern, are you able to reproduce this in working example I can look at?

[2017-03-15 20:14] dtkern commented on #140
@indrimuska, I got it working, thanks. I created a plunker anyway so other developers can see it working.
https://plnkr.co/edit/Ytpur67FOsRX41nMBFPL?p=preview

The problem was I had an old version of angular-moment-picker. After upgrading to the latest version everything worked fine.

[2017-03-16 00:49] ezos86 opened #150 "Everything Disabled?"
![image](https://cloud.githubusercontent.com/assets/1334598/23976842/af59cb64-09a7-11e7-8be7-0e008dc2bbdc.png)

I'm not sure why at all this is happening, but I have two application I have used this in, and one doesn't have this issue and the other does, yet the implementation is the exact same.

[2017-03-16 01:15] ezos86 commented on #150
Figured it out, needed to upgrade all angular packages to 1.4+

[2017-03-16 01:15] #150 closed

[2017-03-16 20:06] indrimuska commented on #141
Hi @cbranca, your code should work, which version are you using?

[Check out this plunker.](https://plnkr.co/edit/qRoYTI?p=preview).

[2017-03-17 13:35] luludpsalmist commented on #140
hi @indrimuska  sorry for the late reply. Following on from @dtkern 's plunker I think what I missed was that I needed to retrieve date like this 'vm.fromDate = moment()' in the controller otherwise model dates don't display.
The second issue I get is that i have "" around dates when I submit the form i.e
fromDate=%222017-03-17T13:26:40.217Z%22  . you can see the encoded strings around dates .Is t

[2017-03-17 15:05] pedrokost commented on #148
@indrimuska Thanks, that's a good enough workaround for me. Manual input is not possible anyway.

[2017-03-17 17:43] miguelalche opened #151 "Feature: inline picker"
Hello friends!
Thanks for this amazing package!

I just wanted to know if there was a better way to display the picker calendar as an element that doesnt go away. I've tried hacky css styles but I don't like very much the result!

Thanks!

Mike

[2017-03-17 21:09] indrimuska commented on #151
Hi @miguelalche, I think it would be useful to have an inline calendar, even if changing the view after selection could be quite annoying.

Anyway this sounds like an easy to code feature, stay tuned. :)

[2017-03-17 21:22] indrimuska commented on #142
Hi @mouss-delta, this is a strange but interesting use case.

You say that users have to change the year/month/day and the hours/minutes should be preselected. But when someone opens the picker an year/month/day should be presented. And here it's the point: which one year/month/day should be presented? Why should not simply preselect all?

[2017-03-17 21:44] indrimuska commented on #144
Hi @pedrokost, this is actually possible because the directive does not listen updates on `stat-date`. Anyway this could be an interesting feature!

[2017-03-17 21:55] indrimuska commented on #144
Done! This will be available in the next release, a plunker will follow.

[2017-03-17 22:02] miguelalche commented on #151
Hi @indrimuska  that would be amazing!!

let me expand
Right now I only managed to disable the "position:absolute" so i have this:
![c4yhxacg p daaaaaelftksuqmcc](https://cloud.githubusercontent.com/assets/8585011/24064566/ef8bbd26-0b43-11e7-8392-351451598378.png)

but I can't get rid of the input that I marked with red.  Also if I click away the calendar closes.
I managed to get just the calendar

[2017-03-17 22:36] indrimuska commented on #151
Well the picker closes because of the directive `ng-show` that hides the picker after selection.
At the moment you can force displaying the picker every time by setting this rule:

[code]

[2017-03-17 22:42] indrimuska commented on #145
Thanks @mouss-delta to have fully explained the problem and have shown the solution.

[2017-03-17 22:42] #145 closed

[2017-03-17 23:47] indrimuska commented on #146
Hi @Yugloocamai, let me find a way to simplify this process...

[2017-03-17 23:52] indrimuska commented on #146
In the next release this should be fixed.

[code]

[2017-03-17 23:58] indrimuska commented on #140
Sure @luludpsalmist, if you use two different properties for `ng-model` and `moment-picker` you'll see that (as show in README):
 - `ng-model` handles the Moment.js date object
 - `moment-picker` handles formatted date string

Otherwise you can just format your moment date like this:

[code]

[2017-03-17 23:58] #140 closed

[2017-03-18 00:04] indrimuska commented on #147
Hi @AlexandreLogist, what do you mean with *the minutes are the minutes that are on my computer*?
Could please further argue your problem?

[2017-03-18 01:39] #126 closed

[2017-03-18 01:39] #138 closed

[2017-03-18 01:39] #144 closed

[2017-03-18 01:39] #146 closed

[2017-03-18 01:39] #148 closed

[2017-03-18 01:39] #151 closed

[2017-03-18 01:43] indrimuska commented on #126
Latest release [v0.9.8](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.9.8) is now out.

[2017-03-18 01:44] indrimuska commented on #138
Latest release [v0.9.8](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.9.8) is now out.

[2017-03-18 01:44] indrimuska commented on #138
@mouss-delta I've added a sample in README to help you.

[2017-03-18 01:44] indrimuska commented on #144
Latest release [v0.9.8](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.9.8) is now out.

[2017-03-18 01:45] indrimuska commented on #148
Latest release [v0.9.8](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.9.8) is now out.

[2017-03-18 01:45] indrimuska commented on #151
Latest release [v0.9.8](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.9.8) is now out.

[2017-03-18 01:45] indrimuska commented on #146
Latest release [v0.9.8](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.9.8) is now out.

[2017-03-18 01:46] indrimuska commented on #144
[Check this sample out.](https://embed.plnkr.co/GtOkThfKwSQ4aPbZYLMw)

[2017-03-18 02:11] indrimuska commented on #68
Ok, got it! Angular 1.3 returns handles function binding properties using `angular.noop` function when no values are provided. In this case, `selectable` is always fired returning an undefined value (noop does nothing). Since it's not returning true, you see no cell is selectable.

[2017-03-18 02:16] #68 closed

[2017-03-18 02:17] indrimuska commented on #68
Fixed in [v0.9.9](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.9.9).

[2017-03-18 11:37] indrimuska commented on #137
Ok @is-bart, now I figure out what is your use case.

Well, your analysis is correct, Angular Moment Picker stores two internal variables for the selected date in the picker that will be used to update the input after selecting the maximum allowed view. In your case you need a new property to keep in sync your model with the internal model of the picker.

I think this can be a nice feasible featur

[2017-03-18 18:18] #137 closed

[2017-03-18 18:18] indrimuska commented on #137
Latest release [0.9.10](https://github.com/indrimuska/angular-moment-picker/releases/tag/0.9.10) is now out with this feature! ;)

[2017-03-19 01:28] miguelalche commented on #151
you are amazing!!! thanks!!!

[2017-03-19 11:47] indrimuska commented on #149
Hi @easyest, I deeply analyzed your example and I found the problem why your form needs a double click that Clear button.

After debugging a little, I notice that $pristine flag on the input is set when $commitViewValue is called on the entire form. This is done by Angular when you submit the form. The reason why you are submitting the form is that your button does not have a `type` property set,

[2017-03-19 11:47] #149 closed

[2017-03-19 11:59] indrimuska commented on #139
Well @Swati16T, in the attached zip file I just see this piece of code:

[code]

Well, this not helps very much to investigate why your app becomes slow.
Could you please provide (here or on a private chat on [Gitter](https://gitter.im/indrimuska)) a full working example that shows your issue?
Thanks :)

[2017-03-19 12:42] pedrokost commented on #144
@indrimuska Fantastic!

[2017-03-20 07:23] easyest commented on #149
Button type works in initial plunk. Could You please look at the updated plunk at https://plnkr.co/edit/NZUNOe6jZYcITgprwk18

[2017-03-20 07:24] mouss-delta commented on #142
Hi @indrimuska,

Thank you for your update.

I admit that this use case is strange, I am working on an event scheduler application, and in fact I need this feature when users duplicate an event, when users duplicate an event they would like to give only the date (=day/month/year) and the hour (=hour:minute) to be pre-selected.

My answer to : "which one year/month/day should be presented", it woul

[2017-03-20 07:25] mouss-delta commented on #145
@indrimuska : you are very welcome :)

[2017-03-20 08:03] mouss-delta commented on #138
@indrimuska I am sorry I am not finding the paragraph with the sample, can you please tell me which paragraph to look? I have tried also the plunker that deals with additions attribute but didn't find the code to help using this feature

[2017-03-20 08:32] indrimuska commented on #138
Check out the "additions" parameter under the [Options section](https://github.com/indrimuska/angular-moment-picker#options).
https://embed.plnkr.co/CXOH5U

[2017-03-21 10:52] AlexandreLogist commented on #147
Hé,

when I select a datetime from the picker, until the hour -> so no minutes select, the picker takes the minute value from my computer/server...

[2017-03-23 07:12] rohith612 opened #152 "Display current date"
hey,
      How to display current date in the input control by default
      <input class="form-control"
             placeholder="Select a date..."
             moment-picker="ctrl.input.stringDate"
             locale="en"
             format="YYYY-MM-DD"
             ng-model="ctrl.input.momentDate"
             ng-model-options="{ updateOn: 'blur' }">

[2017-03-23 10:25] Chukatuk opened #153 "Locale not working..."
Hi, i'm using the Fuse Angular admin theme, and i am unable to switch the picker language.
I started working with the picker by adding it in the HTML:
`<div start-view="day" format="DD/MM/YYYY" moment-picker="student.Birthday" >`
I added:
` locale="he"`
The language remained English.

Later i decided to try and make it global, so i added:
[code]
(Its not exactly the code, i didn't want to paste th

[2017-03-24 21:00] Halsys commented on #3
I fixed my issue by overriding my content body overflow to visible. Which turns off clipping and doesn't add a scroll bar to the div. Angular Material had set `overflow: auto;` for md-content which caused the clipping described here. Might help somebody else using angular material. I'm fine with being unable to scroll in md-content when the whole page can still be scrolled normally. Good luck!

[2017-03-25 09:20] byakuya93 commented on #104
Hi @indrimuska, I am not sure you are receiving gitter notifications, please have a look to our discussion in gitter, I have set a little project that reproduce the issue.

[2017-03-25 09:21] mouss-delta commented on #104
Hi @indrimuska, I am not sure you are receiving gitter notifications, please have a look to our discussion in gitter, I have set a little project that reproduce the issue.

[2017-03-25 10:34] clinm commented on #153
Hi !

You didn't specify what files you are including in your HTML file so I'll give this solution a shot :

You may not have included the correct *moment.js* file. You need the one called 'moment-with-locales'.
As you can see in [this example](https://plnkr.co/edit/iTZksLB4IX80iR81d4uu?p=preview), it works with locales and put the english version as default if moment.js is included.

The correct

[2017-03-25 10:39] clinm commented on #152
Hi,

You should take a look at the [existing Plunker](https://embed.plnkr.co/hs10SM), especially the **setToday** method  in the script.js file, it should give you what you need.

[2017-03-25 11:43] rohith612 commented on #152
Fine it works.... Thank you...

[2017-03-25 16:40] roberteles commented on #146
Hello Indri,

Thanks for this fantastic date picker - I feel it's one of the best ones out there.

To offer you a little bit of context, I believe that most people developing applications prefer keeping one standard regarding time, which is the ISO8601 format (eg. 1980-12-20T00:00:00.000Z). There are many libraries out there which can format this for viewing purposes, hence the popularity of it.

[2017-03-25 22:42] DickSwart commented on #127
Thank you @indrimuska, works fine with input. But it don't work when using a div.

[2017-03-27 05:59] rohith612 opened #154 "Disable selected date !"
hey,
        Is it possible to disable selected date in the picker , and how.
        I got some date from database and i need to disable it  in the picker ?

[2017-03-27 07:51] clinm commented on #154
Hi !
Did you take a look at [this example](https://github.com/indrimuska/angular-moment-picker#methods) ?

[2017-03-27 10:22] rohith612 commented on #154
yup !
but it work for single date only ?
i need to disable multiple dates which stored from the database
if once the page loads i need to disable selected date from the picker
and somehow /selectable="ctrl.isSelectable(date, type)"/ have higher priority than others

[2017-03-27 10:49] rohith612 commented on #154
hey ,
i got it ... in my try

[2017-03-27 11:36] clinm commented on #154
I understand you achieved what you wanted to do ?

[2017-03-27 17:12] roberteles opened #155 "Initialization suggestion"
Hello @indrimuska ,

Thanks for this fantastic date picker - I feel it's one of the best ones out there.

To offer you a little bit of context, I believe that most people developing applications prefer keeping one standard regarding time, which is the ISO8601 format (eg. 1980-12-20T00:00:00.000Z). There are many libraries out there which can format this for viewing purposes, hence the popularity o

[2017-03-28 06:30] rohith612 commented on #154
i need a page of information include a picker , bt some dates(previously selected) are do not selected by another page transaction ,
so the selected date are in the database. when the page loads date from the db will disable from the picker.

[2017-03-28 07:20] #152 closed

[2017-03-29 06:12] Chukatuk commented on #153
Hi,
I installed the package with Bower, so i thought that it will be included...
Added the locale manually.
Sorry, i'm new to this stuff, thank you @clinm !

[2017-03-29 06:12] #153 closed

[2017-03-29 07:18] clinm commented on #153
You're welcome !

You can find moment with locales here with bower *bower_components/moment/min*

[2017-03-29 17:15] diegofcoelho opened #156 "get view"
Is there a way to get the current view the user is using (Year/month/day)?

[2017-03-30 15:29] F0r3v4R commented on #139
I'm seeing a Window leak that appears to be stemming from the handler attachment of $scope.view.position() to 'resize scroll'.

angular-moment-picker.js:792 angular.element($window).on('resize scroll', $scope.view.position);

When Window is destroyed, these are not removed (off).  Not sure if this is related or a different issue.

[2017-04-02 15:13] indrimuska commented on #139
Thanks @F0r3v4R for the tip, it will be part of the next release.
Anyway I'm going to close this issue, feel free to reopen it again for any other problem. :)

[2017-04-02 15:13] #139 closed

[2017-04-02 15:15] indrimuska commented on #141
I hope the plunker helped you, I'm going to close this issue.

[2017-04-02 15:15] #141 closed

[2017-04-02 15:16] indrimuska commented on #147
It depends on how you've set the picker. Could you please post a full working example showing your issue? Thanks.

[2017-04-02 15:19] indrimuska commented on #154
I don't think I've understood your problem @rohitbind. Which pages are you referring to? Can you please post a sample for your issue? Thanks.

[2017-04-02 15:26] indrimuska commented on #156
Hi @diegofcoelho,
Actually there's no method to do that. Can you please provide more context to figure out why you need this feature?

[2017-04-02 17:38] indrimuska commented on #155
Hello Robert,
Many thanks for the kind words.

Your request seems reasonable, but there are few points I need to figure out before.

 1. You say that a lot of code should be performed in the controller to do that, but it just require 2 conversions from and to Moment.js object:

[code]
[code]

    1.1 Since [ISO 8601 is natively supported by Moment.js](https://momentjs.com/docs/#/parsing/special-fo

[2017-04-02 18:39] indrimuska commented on #104
Thanks @mouss-delta for the useful sample provided. 👍

I confirm that this issue is caused by the [`grunt-uglify`](https://www.npmjs.com/package/gulp-uglify) plugin when it tries to uglify a minified js file. Basically there's nothing I can change to help you with this. My advice is to make the repo maintainers aware of this bug and hope they solve this for you :)

Anyway, I suggest to replace the

[2017-04-02 18:39] #104 closed

[2017-04-03 07:28] rohith612 commented on #154
fine . i got the solution thanks.

[2017-04-03 07:32] indrimuska commented on #154
Good, happy to hear that! :)

[2017-04-03 07:32] #154 closed

[2017-04-03 13:34] mcoul opened #157 "Dynamic value for format attribute"
Hi, @indrimuska!
I've started using angular-moment-picker a couple of days ago, it's a really nice package, plus i find it easy to use. However, I've been struggling with asigning a dynamic value to the format attribute depending on what the user chooses, instead of a fixed "YYYY-MM-DD" string, for example.
Is there a dynamic way to set the format value?

In the html I have:
`<input class="form-co

[2017-04-03 14:18] indrimuska commented on #157
Hi @mcoul, thanks for the kind words.

It should be already possible to use dynamic format value, you just have to keep in mind that the property is binded with "@", so it expects a string as input. In that case, you can simple try to surround your scope property with double curly brackets:

[code]

[2017-04-03 14:25] mcoul commented on #157
Hi @indrimuska , thanks for the fast answer. I've already tried using:
format="dateSelected.format"
format="{{dateSelected.format}}"
format="'{{dateSelected.format}}'"
format="'{{::dateSelected.format}}'"

None of them seem to work, the calendar will ignore this value (not recognize it as a string) and let me select year->month->day->hour->minute, etc.

[2017-04-03 20:57] indrimuska commented on #157
Check out this [plunker](https://plnkr.co/edit/qDPesI?p=preview).

[2017-04-03 22:30] mcoul commented on #157
I've made a few changes based on your plunker and now it works like a charm, thank you! I think the issue was because I didn't use "var ctrl = this;', I just used every variable accessing the $scope. Now that I access them like you do, it works as expected.

[2017-04-03 22:30] #157 closed

[2017-04-04 19:15] diegofcoelho commented on #156
I need to add some restriction to date selection in a scheduling like app and user will only be allowed to pick a date if it is at least three hour, in the future, from now.

Angular moment picker has a function that disable previous dates and that is what I need, except that a glitch appears when a day is still partially allowed.

Lets say I want to book a date today and now is already 16h and th

[2017-04-07 16:10] easyest opened #158 "jQuery compatibility"
If jQuery is loaded, then it is not possible to enter date by keyboard into an input. Plunker here:
https://plnkr.co/edit/hs10SM?p=preview

It would seem the problem is with the code:
`.on('keydown', function (e) { return $scope.keyboard && $scope.$evalAsync(function () { return $scope.view.keydown(e); }); });`

jQuery documentation mentions that:

[2017-04-07 16:25] easyest commented on #158
I fixed the problem by changing the code from:
[code]

to:
[code]

[2017-04-09 05:32] cipchk commented on #124
+ 1

[2017-04-09 19:47] indrimuska commented on #158
Thank you @easyest, this fix will be available in the next release!

[2017-04-09 19:52] indrimuska commented on #156
I think I've understood the problem, but in any case are you able to provide a plunker so that I can try to fix it for your exact use case? Thanks.

[2017-04-09 19:57] indrimuska commented on #127
@DickSwart can you please try to update the picker to the latest version and let me know if everything works as expected? Thanks. :)

[2017-04-09 20:24] indrimuska commented on #142
Can you simply disable hour/minute views when dates are cloned?
Checkout this plunker: https://plnkr.co/edit/iwQZp7alnROivBpEyK95?p=preview

[2017-04-11 00:49] diegofcoelho commented on #156
I've never used plunker before so please forgive any silly thing I've done:

https://plnkr.co/edit/RxzIoX6Wn5SaTXLyMwGk

Try to select the same day we are and you will see what I've described.

[2017-04-11 18:42] hemraker opened #159 "Min. version of Angular?"
Hey there, this looks pretty awesome!

Is there a minimum version of Angular required to use this?

[2017-04-11 19:36] indrimuska commented on #159
Hi @hemraker, the directive has been tested starting from Angular version 1.3 so far, but if you need lower versions and you find any problem feel free to open an issue here on github. :)

[2017-04-11 20:21] wellcaffeinated opened #160 "change event not working since 0.9.4"
I've got a datepicker that's using the change event and after upgrading to 0.9.10 the event isn't triggered
[code]

[2017-04-11 20:36] hemraker commented on #159
Unfortunately, I'm working with Angular version 1.1.5, so will most likely run into issues. Are you saying you're up for supporting lower versions ? 😄

[2017-04-11 20:36] hemraker commented on #159
And thanks a bunch for the quick response @indrimuska !!

[2017-04-11 20:59] hemraker commented on #159
Haha, I wish simply thinking about it would do it!

Had a go at creating a date picker editor for [Umbraco CMS](https://github.com/umbraco/Umbraco-CMS). Installation and initialization was a breeze but there indeed dependencies that are not available in 1.1.5. I will create an issue for it and let you be the judge 😄

Really awesome work by the way 🙌

[2017-04-12 07:13] hemraker commented on #159
Closing this and create issue for backwards compatability

[2017-04-12 07:13] #159 closed

[2017-04-12 07:20] hemraker opened #161 "Backwards compatability for < Angular 1.2"
The use of $sce prohibits implementing this fine date picker in Angular versions prior to 1.2.

Initializing the module fails with: `Error: Unknown provider: $sceProvider <- $sce <- momentPickerDirective`

[2017-04-12 20:41] easyest commented on #158
Many thanks :)

[2017-04-12 20:41] #158 closed

[2017-04-13 02:53] LenonLopez commented on #124
@indrimuska  awesome!, looking forward to it.

[2017-04-19 10:46] stewebyourmind commented on #133
Hi @indrimuska I try to import moment using the suggestion above:
[code]
but I'm facing another issue with moment locale

[code]

Do you have any idea about that?

[2017-04-20 14:14] atmartins opened #162 "Deprecation warning - not a recognized ISO format"
## Issue Overview
It appears angular-moment-picker sends a non-standard ISO format to moment at some point, unless I'm doing something wrong.

## Details
**When using angular-moment-picker like this:**
[code]

**Javascript inspector says this (Chrome):**
(warning) moment-with-locales.min.js:18 Deprecation warning: value provided is not in a recognized ISO format. moment construction falls back to

[2017-04-20 14:30] #162 closed

[2017-04-20 15:51] cvuorinen commented on #158
I ran into this same issue and was just about to make a pull request and noticed it was already fixed in master.

Any info when next release might be tagged?

[2017-04-23 08:26] indrimuska commented on #142
I'll close this issue. Feel free to reopen it if that plunker does not fit your needs.

[2017-04-23 08:26] #142 closed

[2017-04-23 08:27] indrimuska commented on #147
I'll close this issue since no answers were provided.

[2017-04-23 08:27] #147 closed

[2017-04-23 08:37] indrimuska commented on #155
I'll close this for now, but feel free to continue the discussion if you like :)

[2017-04-23 08:37] #155 closed

[2017-04-23 08:40] indrimuska commented on #160
Hi @wellcaffeinated, have you check out this [plunker](https://embed.plnkr.co/IIhjjv)?

[2017-04-23 09:07] indrimuska commented on #161
Hi @hemraker, I found a LOT of different properties with Angular 1.2 (e.g. missing `$watchGroup`, `$commitViewValue`, ..). For that reason I think that this directive won't support Angular < 1.2.
I'm sorry! :(

[2017-04-23 09:07] #161 closed

[2017-04-23 09:23] indrimuska commented on #158
Hi @cvuorinen, I'll release next version next Tuesday.

[2017-04-23 09:26] indrimuska commented on #133
Hi @stewebyourmind, this seems an error in your bundler configuration file.
Please check [this sample](https://github.com/indrimuska/angular-moment-picker/files/804627/picker-sample-ts.zip)

[2017-04-23 10:20] indrimuska commented on #156
The problem here is in the `isSelectable` callback, in particular:

[code]

As you can see, you are checking the hour of a single Day in the Month View. But in Month View hours are not set, you should just check given Date (day) in that view.

Anyway, for your use case there is a more fitting property property called `minDate` and you should use it instead of `isSelectable`. Check out README file

[2017-04-23 10:20] #156 closed

[2017-04-24 08:10] enkemari opened #163 "Round off on hours"
Hi,

[This might sound a bit pedantic...] I've got a requirement where I have to limit the picker to hours - which is easy to do with `max-view="day`" - however, I also use `today="true"` and when the current time is anything other than `HH:00`, the minutes are pulled through to the display (not sure if `today="true"` is necessarily causing this).

So the scenario is that the user would select the

[2017-04-25 10:03] clinm commented on #163
Hi !

I add the same problem some weeks ago. I used this turnaround
[code]
I just hard coded the fact that I wanted the first day of the month in the placeholder and that made the trick.

Hope it helps

Matthieu

[2017-04-27 16:13] ConstantineStehoff commented on #92
I am getting the formatted date in input ng-model but when I try to edit it (in the input field) or type a new one I get some weird behavior...
Here is what I am doing now:

[code]

Basically I want to edit ng-model (that is connected to the datepicker) in the input field. Can I do that?

[2017-04-27 17:07] whittssg opened #164 "start-date highlight."
Hello,

When i provide a start date shouldn't the calendar highlight the selected dates /times?
(not sure if its just not working or if it just doesn't do this)
Thanks ( am using inline)

[2017-04-27 17:31] whittssg commented on #164
Never mind.. I think its because i give the time as now so the minutes dont match the intervals. Date and hours highlighting works fine.

[2017-04-27 17:31] #164 closed

[2017-04-27 18:02] whittssg commented on #164
The inline option is really neat BTW.. I didnt want to use any other library because they didnt match the angular material inputs that i use else where but being inline gets rid of that. Thumbs up to an awesome library. Thanks

[2017-04-28 02:10] whittssg opened #165 "Cell width (table > tbody > tr > td )change?"
Hello,

How can i reduce the width of the table cells for the dates etc... the inline calendar wont fit on a mobile screen in portrait mode?

Is there an option i am missing for responsive mode ?

Thanks,

[2017-04-28 02:26] #165 closed

[2017-04-28 06:17] Vishal2060 opened #166 "Select Time without Date"
How we can select time irrespective of date.

If I choose time picker, it shows Date on its header.
![screenshot from 2017-04-28 11-43-30](https://cloud.githubusercontent.com/assets/27874723/25516464/64a075b8-2c08-11e7-8dc6-f07cd38b4880.png)

[2017-04-28 06:40] Vishal2060 opened #167 "Time picker shows 24 hr clock not 12 hr clock"
Time picker shows 24 hr clock for dele tong 12 hr clock, it doesn't shows selection for AM/PM

[2017-04-28 16:07] kalle17 commented on #160
Hi
It looks like "change" event works fine with controller functions in "controller as" mode, but it doesn't work with scope-defined functions.

[2017-04-29 17:39] vylan opened #168 "Add option of append-to-body?"
Same problem with #3 , could you provide an option of "append to body" like [ui-bootstrap](https://angular-ui.github.io/bootstrap/)? That would be very helpful.

[2017-05-02 09:59] anx-ckreuzberger opened #169 "Problem with max-date / min-date and multiple date pickers"
Hi!

I encountered a rather interesting problem when using two angular moment pickers on the same page, that have max-date and min-date linked to each other.

I've created this plunkr so you can investigate on the bug:
https://plnkr.co/edit/RLUbquFfT64giCu4MVkE?p=preview

Essentially this is what happens (meta code):
first.momentDate = moment();
second.momentDate = moment();

But the first date pi

[2017-05-02 10:44] anx-ckreuzberger commented on #169
More Information:
I can overcome this issue by setting the moment-picker attribute validate to false:
[code]

This prevents validation from happening, when the date is modified from the outside. I still believe that there is some sort of race condition happening (in the case of validate="true") which uses the modified date from ng-model, but not the modified max-date/min-date variables.

[2017-05-03 15:05] gydammin commented on #124
Any updates on this ? :)

[2017-05-04 06:43] DrakeXiang commented on #164
How did you solve this? Even official demo can't initialize date using this directive https://embed.plnkr.co/rjFk9d

[2017-05-05 08:58] dementhius commented on #51
Hello @indrimuska
I have just installed your ,library and Ihave the same problem as @vedard in .I´m using library version 0.9.11 with AngularJS 1.4.3 and Ionic framework.

Could be possible a conflict with any Ionic FMW function?

Thx

[2017-05-05 10:14] GiampaoloFalqui commented on #133
I am trying to import angular-moment-picker with RequireJs, however it gives me the "moment is not defined" error.

Here's the requirejs configuration:

	require.config({
	  // alias libraries paths
		waitSeconds: 30,
		urlArgs: 'v=' + window.assets_version,
		paths: {
			'angular': '/node_modules/angular/angular',
			'moment': '/node_modules/moment/min/moment-with-locales.min',
			'moment-picker'

[2017-05-05 13:19] GiampaoloFalqui commented on #133
Solved by adding this hack:

    require.onResourceLoad = function (context, map) {
	    if (map.name === 'moment' && window['moment'] === undefined) {
		    window['moment'] = context.defined.moment;
	    }
    }

[2017-05-05 13:52] AgDude opened #170 "maxView is overwritten by format"
When a "max-view" is explicitly defined as an attribute, it should always be respected. If the format does not display the max view, the auto-detected max-view is being used.

"hour" is requested, but "month" is returned, because the input only shows the date, the time is displayed elsewhere. In this case the "format" is set using the provider and the max view is set on the element.

See this plun

[2017-05-05 15:57] AgDude commented on #170
I want to say thanks for all of the updates in the past few months, especially as they relate to #60.

I looks like this issue is a little deeper that I thought, there are quite a few places that still rely on formatting the moment model, and using the string (viewValue) for comparison or operation.  The next place I see where this is an issue is in this watcher:

[code]

This is where `checkValue

[2017-05-05 17:28] dkrychylskyy opened #171 "Failed to instantiate module moment-picker"
Hello,
I'm new in angular)))
For Ionic v1 I installed angular-moment-picker
`bower install moment-picker --save`,
there is a directory `bower_components` with `angular-moment-picker`,
I added '`moment-picker'` in `angular.module([])`
RESULT:
![capture d ecran 2017-05-05 a 19 26 14](https://cloud.githubusercontent.com/assets/27224802/25756894/c3861202-31c8-11e7-8695-3d500db64f4a.png)

What am I doi

[2017-05-06 17:02] pedrokost opened #172 "Show picket inline instead of in popup"
Feature request: to be able to show the date picker inline, instead of in a popup. So, instead of having an input field which on click opens a popup, I just want to display the picker without previous user action.

Example from [uiBootstrap](https://angular-ui.github.io/bootstrap/)
![image](https://cloud.githubusercontent.com/assets/725286/25774412/67fd3f2a-328e-11e7-8c19-4da3bb4a9a9e.png)

[2017-05-07 10:46] indrimuska commented on #160
This sounds like a typical scope-shadow issue, that's why you should use dot-notation.
Read more here: https://github.com/angular/angular.js/wiki/Understanding-Scopes

[2017-05-07 10:46] #160 closed

[2017-05-07 10:59] indrimuska commented on #163
Hi @enkemari, I am not able to reproduce this issue, so could you please provide a full working example that shows this problem? Thanks

[2017-05-07 11:02] indrimuska commented on #166
Hi @Vishal2060, if you set `format` to anything that not includes years, months or days than you can choose one of these options:

 - Change the model date programmatically: using the Moment.js object you can perform any operation on date
 - Hide the header bar: by setting `show-header="false"`

Hope this helps :)

[2017-05-07 11:02] #166 closed

[2017-05-07 11:03] indrimuska commented on #167
Hi @Vishal2060, in the _Day View_ there's no division between AM and PM hours.

[2017-05-07 11:03] #167 closed

[2017-05-07 11:04] indrimuska commented on #168
Duplicate #107

[2017-05-07 11:04] #168 closed

[2017-05-07 11:31] indrimuska commented on #169
Very good analysis @anx-ckreuzberger, thanks even for the plunker, I'll investigate this..

[2017-05-07 11:47] indrimuska commented on #172
Hi @pedrokost, if you check out in the [README](https://github.com/indrimuska/angular-moment-picker#options) file this is already available by adding the `inline="true"` property ([plunker](https://embed.plnkr.co/5PhKOc)). My advise is to use it in addition with the `set-on-select` property.

[2017-05-07 11:47] #172 closed

[2017-05-07 11:48] indrimuska commented on #171
Hi @dkrychylskyy, could you please create a simple plunker/fiddle/codepen to analyze this issue?

[2017-05-07 11:51] indrimuska commented on #170
Hi @AgDude, thanks for the kind words.
Actually, this behavior is by design, so when using min/max view properties, they will be overridden by the smart view auto-detection if the format selected does not require a specific view (i.e. format `HH:mm` doesn't require `decade`, `year`, `month`, and `minute` views).

[2017-05-07 12:45] indrimuska commented on #133
Thanks @GiampaoloFalqui for sharing a fix for RequireJs 👍

[2017-05-07 12:51] indrimuska opened #173 "Issues with Ionic framework (v1)"
This is to group all issues related to Ionic framework and warn if they are fixed:

- [ ] #171
- [ ] https://github.com/indrimuska/angular-moment-picker/issues/51#issuecomment-299415567